@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
  font-family: "Lato Regular"; }

p,
span {
  font-family: "Lato Regular"; }

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important; }

.row {
  margin-right: 0 !important;
  margin-left: 0 !important; }

button,
a {
  cursor: pointer; }

a:hover {
  text-decoration: none !important; }

button {
  border: none !important; }

button:focus,
.btn.focus,
.btn:active,
label:focus,
label:active,
a:focus,
a:active {
  outline: none !important;
  box-shadow: none !important;
  border: none; }

.modal.fade {
  z-index: 9999 !important; }

.modal.fade {
  overflow: auto !important; }

.modal-dialog {
  background-color: #fff !important; }

input:focus::-webkit-input-placeholder {
  color: transparent !important; }

.close:hover {
  opacity: 0.5 !important; }

.main-container-box {
  padding: 0px 20px !important; }

.info-about {
  background-color: #9c93c8;
  margin-top: 10px; }
  .info-about .header-row {
    align-items: center; }
  .info-about .text-box {
    display: flex;
    align-items: center; }
    .info-about .text-box h1 {
      color: #615ba7;
      font-size: 28px;
      text-transform: uppercase;
      margin-bottom: 0px; }
    .info-about .text-box .back-btn {
      background: transparent;
      border-color: transparent; }
      .info-about .text-box .back-btn .fa {
        color: #615ba7;
        font-size: 40px; }
      .info-about .text-box .back-btn i:hover {
        color: #CAC3E9; }
    .info-about .text-box .back-btn:hover {
      background: transparent; }
  .info-about h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    padding-top: 10px; }
  .info-about .color-box-1 {
    background-color: #d0c7fc;
    padding: 0px 8px;
    border: 1px solid #fff;
    border-radius: 3px; }
  .info-about .color-box-2 {
    background-color: #dfdbec;
    padding: 0px 8px;
    border: 1px solid #fff;
    border-radius: 3px; }
  .info-about span {
    color: #fff;
    margin: 5px; }
  .info-about .done-btn {
    background-color: #615ba7;
    margin-right: 11px; }
  .info-about .done-btn a {
    color: #fff; }
  .info-about .done-btn:hover {
    background-color: #CAC3E9; }
  .info-about .span-box {
    float: right; }

#calendar {
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  padding-top: 10px; }

.fc-toolbar {
  background-color: #9c93c8;
  padding: 10px; }

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 10px !important; }

.fc-toolbar h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 23px;
  padding-top: 8px; }

.fc-row .fc-day-header {
  font-size: 18px;
  padding: 5px; }

.fc-head-container {
  background-color: #9c93c8;
  color: #fff; }

.fc-ltr .fc-axis {
  color: #9c93c8;
  font-size: 18px;
  width: 120px !important;
  text-align: center !important; }

.fc-left button {
  background-color: #615ba7;
  opacity: 1;
  color: #fff;
  text-transform: uppercase;
  margin-right: 4px !important; }

.fc-left button:hover {
  background-color: #CAC3E9; }

.fc-divider {
  display: none !important; }

#calendar tr:nth-child(even) {
  display: none; }

th.fc-axis:before {
  content: 'Time';
  color: #fff; }

.fc td, .fc th {
  border-color: #fff !important; }

.fc-agendaWeek-button {
  display: none !important; }

.fc-toolbar .fc-left {
  float: right !important; }

.fc-toolbar .fc-center {
  display: block !important; }

#calendar td.fc-day {
  background: url("../images/box.jpg") repeat center top/100% auto; }

#calendar .fc-event {
  background: url("../images/box-2.jpg") repeat center top/100% auto;
  border: none;
  border-radius: 0px;
  left: -1% !important;
  right: -2% !important;
  margin-bottom: 0.1px;
  margin-top: 1px; }

#calendar .fc-time-grid-event .fc-content {
  display: none; }

.fc-event .fc-bg {
  opacity: 0 !important; }

.fc-time-grid-event.fc-allow-mouse-resize .fc-resizer {
  display: none !important; }

.expert-card-box {
  /* Base for label styling */
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
  /* hover style just for information */ }
  .expert-card-box span.tooltipstext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 10px;
    position: absolute;
    z-index: 1;
    top: 35px;
    right: 0;
    font-size: 12px; }
  .expert-card-box p.bottom-line-msg {
    font-family: "Lato Regular";
    font-size: 16px;
    color: #8b8b8d;
    padding-left: 4%; }
  .expert-card-box .row {
    padding-left: 10px;
    padding-right: 10px; }
  .expert-card-box .col-all {
    padding: 0px; }
  .expert-card-box .card {
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: none;
    margin-left: 5px;
    margin-right: 5px; }
  .expert-card-box .img-plus-btn {
    position: relative; }
    .expert-card-box .img-plus-btn button {
      position: absolute;
      top: 0;
      right: -4px; }
    .expert-card-box .img-plus-btn i {
      color: #fff;
      background: #615ba7;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      text-align: center;
      line-height: 27px; }
  .expert-card-box .img-of-expert-box {
    background-color: #CAC3E9; }
    .expert-card-box .img-of-expert-box img {
      padding: 15px; }
    .expert-card-box .img-of-expert-box .currency-box {
      display: flex;
      justify-content: space-between;
      padding: 0px 38px 0px 35px; }
      .expert-card-box .img-of-expert-box .currency-box p {
        color: #615ba7;
        font-weight: bold;
        font-size: 18px; }
  .expert-card-box .card-body {
    padding-bottom: 0px; }
    .expert-card-box .card-body p {
      color: #8b8b8d;
      margin-bottom: 5px;
      font-family: "lato black"; }
    .expert-card-box .card-body form p {
      display: inline-block; }
  .expert-card-box .card-footer {
    background-color: #CAC3E9;
    border: none;
    text-align: center; }
  .expert-card-box .footer-btn {
    background-color: #615ba7;
    color: #fff;
    text-transform: uppercase;
    margin: 5px; }
  .expert-card-box .footer-btn:hover {
    background-color: #fff;
    color: #615ba7;
    text-transform: uppercase;
    margin: 5px; }
  .expert-card-box [type="checkbox"]:not(:checked),
  .expert-card-box [type="checkbox"]:checked {
    position: absolute;
    left: -9999px; }
  .expert-card-box [type="checkbox"]:not(:checked) + label,
  .expert-card-box [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer; }
  .expert-card-box [type="checkbox"]:not(:checked) + label:before,
  .expert-card-box [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 3px;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 0px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }
  .expert-card-box [type="checkbox"]:not(:checked) + label:after,
  .expert-card-box [type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: .1em;
    left: .3em;
    font-size: 1.3em;
    line-height: 0.8;
    color: #565758;
    transition: all .2s; }
  .expert-card-box [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0); }
  .expert-card-box [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1); }
  .expert-card-box [type="checkbox"]:disabled:checked + label:after {
    color: #999; }
  .expert-card-box [type="checkbox"]:disabled + label {
    color: #aaa; }
  .expert-card-box label:hover:before {
    border: 2px solid #565758 !important; }

.info-about.custom-calendar-header-left {
  margin-top: 0; }
  .info-about.custom-calendar-header-left h1 {
    font-size: 1.5vw;
    margin-top: 5px;
    font-weight: bold; }
  .info-about.custom-calendar-header-left a.btn.btn-primary.btn-md.back-btn {
    position: absolute;
    left: 20px; }

.info-about.custom-calendar-header-right {
  margin-top: 0; }

div#calendar .fc-center h2 {
  margin-left: 4%;
  font-size: 20px;
  margin-right: 25px;
  padding-top: 4px; }

.fc-left {
  position: relative; }
  .fc-left .fc-button-group {
    float: right !important;
    margin-right: 77px; }
  .fc-left .fc-today-button {
    position: absolute;
    right: 0; }

@media screen and (min-width: 1025px) {
  .expert-card-box .img-of-expert-box img {
    min-height: 331px;
    max-height: 350px;
    overflow: hidden; }
  .expert-card-box span.tooltipstext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 10px;
    position: absolute;
    z-index: 1;
    top: 35px;
    right: 0;
    font-size: 10px; }
  .expert-card-box span.tooltipstext2 {
    width: 100px; }
  .expert-card-box .tooltips:hover .tooltipstext {
    visibility: visible; }
  .expert-card-box .tooltips {
    position: relative; }

  .unavilable-done-modal {
    max-width: 545px !important;
    margin: 0 auto; } }
.unavilable-done-share-container {
  padding: 25px 10px 30px 50px; }
  .unavilable-done-share-container .unavilable-done-in-header {
    border-bottom: none;
    padding: 0px;
    padding-bottom: 15px; }
  .unavilable-done-share-container button.close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #000;
    font-size: 33px;
    opacity: 1; }
  .unavilable-done-share-container h1 {
    font-size: 24px;
    font-family: lato black;
    color: #cdc6e9; }
  .unavilable-done-share-container .unavilable-done-desc {
    font-size: 16px;
    font-family: lato regular;
    color: #58595b;
    margin-bottom: 10px; }
  .unavilable-done-share-container .yes-unavilable-done-button, .unavilable-done-share-container .no-unavilable-done-button {
    width: 30%;
    display: inline;
    margin-bottom: 0px; }
    .unavilable-done-share-container .yes-unavilable-done-button button, .unavilable-done-share-container .no-unavilable-done-button button {
      color: #fff;
      background-color: #615AA8;
      border-color: #615AA8;
      font-family: 'Lato Black';
      font-size: 25px;
      text-transform: uppercase;
      border-radius: 0px;
      width: 175px;
      height: 63px;
      letter-spacing: 1px;
      margin-top: 20px;
      margin-right: 15px; }

@media (max-width: 1024px) and (min-width: 768px) {
  .expert-card-box .img-of-expert-box .currency-box {
    padding: 0 10px 0 10px; }

  .info-about .done-btn {
    margin-left: 2px; }

  .info-about.custom-calendar-header-left {
    margin: 0 auto;
    width: 100%;
    background-color: transparent; }
    .info-about.custom-calendar-header-left a.btn.btn-primary.btn-md.back-btn {
      margin-top: -25px; }
    .info-about.custom-calendar-header-left h1 {
      width: 100%;
      text-align: center; }

  div#calendar .fc-center h2 {
    margin-left: 6%; } }
@media (max-width: 768px) and (min-width: 767px) {
  .expert-card-box .img-of-expert-box .currency-box {
    padding: 0px 38px 0px 35px; } }
@media screen and (max-width: 767px) {
  .expert-card-box .card-body {
    padding: 10px 0 0 0; }
  .expert-card-box .card {
    margin-bottom: 0px; }
  .expert-card-box p.bottom-line-msg {
    margin-top: 15px;
    margin-bottom: 10px; }
  .expert-card-box .row {
    padding-left: 5px;
    padding-right: 5px; }
  .expert-card-box .currency-box {
    flex-wrap: wrap;
    justify-content: center !important; }
    .expert-card-box .currency-box div {
      width: 100%;
      text-align: center; }
    .expert-card-box .currency-box p {
      margin-bottom: 10px; }

  .info-about .all-column {
    padding: 0px !important; }
  .info-about .header-row {
    padding: 10px 0px; }
  .info-about .text-box h1 {
    font-size: 21px; }
  .info-about .text-box .back-btn .fa {
    font-size: 32px; }
  .info-about .span-box {
    float: none;
    margin-top: 10px; }
  .info-about .done-btn {
    margin-left: 0px;
    font-size: 15px;
    padding: 8px 15px; }

  .main-container-box {
    padding: 0px !important; } }
@media (max-width: 1365px) and (min-width: 1024px) {
  .info-about.custom-calendar-header-left {
    margin: 0 auto;
    width: 100%;
    background-color: transparent; }
    .info-about.custom-calendar-header-left a.btn.btn-primary.btn-md.back-btn {
      margin-top: -25px; }
    .info-about.custom-calendar-header-left h1 {
      width: 100%;
      text-align: center; }

  div#calendar .fc-center h2 {
    margin-left: 6%; } }
@media (max-width: 1023px) and (min-width: 768px) {
  div#calendar .fc-center h2 {
    font-size: 14px; }

  .info-about .done-btn {
    font-size: 12px; }

  .fc-left .fc-today-button {
    padding: 4px 7px;
    font-size: 12px; }

  .fc-left .fc-button-group {
    margin-right: 60px; }

  button.fc-prev-button.fc-button.fc-state-default.fc-corner-left {
    padding: 0;
    height: 30px; }

  button.fc-next-button.fc-button.fc-state-default.fc-corner-right {
    padding: 0;
    height: 30px; } }
@media screen and (max-width: 765px) {
  div#calendar .fc-center h2 {
    font-size: 14px; }

  .info-about .done-btn {
    font-size: 8px;
    padding: 4px 7px; }

  .fc-left .fc-today-button {
    padding: 3px 7px;
    font-size: 8px;
    margin-top: 5px;
    right: -9px; }

  .fc-left .fc-button-group {
    margin-right: 36px; }

  button.fc-prev-button.fc-button.fc-state-default.fc-corner-left {
    padding: 0;
    height: 25px; }

  button.fc-next-button.fc-button.fc-state-default.fc-corner-right {
    padding: 0;
    height: 25px; }

  .info-about .span-box {
    margin-top: 0px; }

  .info-about span {
    font-size: 12px; }

  .info-about .text-box .back-btn .fa {
    font-size: 20px; }

  .info-about.custom-calendar-header-left a.btn.btn-primary.btn-md.back-btn {
    left: 15px;
    margin-top: -25px; }

  .info-about.custom-calendar-header-left {
    text-align: center;
    width: 100%;
    background-color: transparent; }

  .info-about .text-box h1 {
    width: 100%; } }
@media (min-width: 1400px) and (max-width: 1900px) {
  div#calendar .info-about.custom-calendar-header-left {
    float: none;
    text-align: center;
    width: 43%;
    margin: 0 auto; }

  .info-about.custom-calendar-header-left h1 {
    width: 100%; } }
@media screen and (min-width: 1920px) {
  div#calendar .info-about.custom-calendar-header-left {
    float: none;
    text-align: center;
    width: 40%;
    margin: 0 auto; }

  .info-about.custom-calendar-header-left h1 {
    width: 100%; } }

/*# sourceMappingURL=calendar-and-expert.css.map */
