.contacts-new-us-main-wrapper{
    margin-top: 20px;
    .gray-dynamic-bottom-box-help{
	    min-height: 200px;
	    background: #ddd;
	    margin-top: 20px;
	    padding:10px;
    }
    
    h2{
    	font-size: 24px;
    	margin-bottom: 20px;
    	font-weight: bold;
    }
    button.close{
	    position: absolute;
	    top: 5px;
	    right: 10px;
	    color: #000;
	    font-size: 33px;
	    opacity: 1;
    }
    .container-wrapper-main{
    	padding: 15px 45px;
	 	margin-top: 20px;
    	input, textarea{
		    border: 1px solid #585657;
    		padding: 10px;
    		width:100%;
    		color:#656567;
    	}
    	::placeholder{
    		color:#656567;
    	}
    	p{
    		margin-bottom: 0.5em;
    		color:#656567;
    	}
    	.first-inputs{
    		margin-bottom: 0.3em;
    	}
    	button{
			color: #fff;
		    background-color: #615AA8;
		    border-color: #615AA8;
		    font-size: 25px;
		    text-transform: uppercase;
		    border-radius: 0px;
		    letter-spacing: 1px;
		    width: 24%;
	        margin-top: 11px;
			margin-bottom: 18px;
    	}
    	.write-us{
		    margin-bottom: 0;
		    color: #000;
		    font-size: 12.2px;
    	}
    	h3{
		    line-height: 1em;
		    font-size: 20.5px;
    	}
    	h1{
		    font-size: 21px;
		    font-family: "lato black";
		    color: #404040;
		    margin-top: 35px;
    	}
    }
    .help-wrapper{
    	margin-bottom: 0px;
    }
}
.about-us-main-container-new{
    font-family: "Lato Regular";
    color: #58595B;
   	margin:2em;
    h1, h2, h3, h4, h5{
    	color:#000;
    }
    h1{
	    font-family: "lato black";
	    text-align: center;
	    margin-bottom: 25px;
	    font-size: 1.8em;
    }
    h3{
    	font-size:1.5em;
    	margin-top:30px;
    }
    h4{
    	font-size:1.3em;
    	margin-top: 15px;
    	margin-bottom: 15px;
    }
    h5{
    	font-size: 1.2em;
	    margin-top: 35px;
	    margin-bottom: 15px;
	    border-bottom: 1px solid #000;
	    display: inline-block;
    }
    p{
    	margin-bottom: 5px;
    }
    .about-image-information-container{
    	text-align: center;
    }
    a{
    	font-weight: bold;
    	color: #615ba7;
    }
    table {
    	border-collapse: collapse;
    	width:30%;
    	margin-top: 10px;
    	margin-bottom: 15px;
	}
    table, td, th {
    	border: 1px solid black;
    	text-align: center;
    	font-family: "lato regular";
	}
	th{
		color:#000;
	}
	img{
		max-width: 100%;
	}
}
@media screen and (min-width: 1020px){
  .about-us-main-container-new {
    margin: 2em auto;
    max-width: 80%;
    img {
      max-width: 100%;
      width: 100%;
    }
    h1{
      text-align: left;
    }
  }
}

@media(max-width:768px) and (min-width:767px) {
	.contacts-new-us-main-wrapper{
		.container-wrapper-main{
			input, textarea{
				width:100%;
			}
			button{
				width:40%;
			}
		}
	}
	.about-us-main-container-new{
		table{
			width:50%;
		}
	}
}

@media screen and (max-width: 767px){
	.contacts-new-us-main-wrapper{
		.container-wrapper-main{
		    padding: 15px 10px;
			input, textarea{
				width:100%;
			}
			button{
				width:60%;
			}
			h3{
				font-size:16px;
			}
			h1{
				font-size:17px;
			}
		}
	}
	.about-us-main-container-new{
	    margin: 1em;
		table{
			width:100%;
		}
	}
}

/*scroll icon homepage starts*/

@media screen and (min-width: 1025px){
    .icon-scroll,
    .icon-scroll:before{
      position: absolute;
      left: 50%;
    }
    .icon-scroll{
      width: 40px;
      height: 70px;
      margin-left: -20px;
      bottom: 3%;
      margin-top: -35px;
      box-shadow: inset 0 0 0 1px #fff;
      border-radius: 25px;
      cursor: pointer;
    }
    .icon-scroll:before{
      content: '';
      width: 8px;
      height: 8px;
      background: #fff;
      margin-left: -4px;
      top: 8px;
      border-radius: 4px;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-name: scroll;
    }
    @keyframes scroll{
      0%{
        opacity: 1;
      }  
      100%{
        opacity: 0;
        transform: translateY(46px);
      }  
    }  
}

/*scroll icon homepage ends*/