.contacts-new-us-main-wrapper {
  margin-top: 20px; }
  .contacts-new-us-main-wrapper .gray-dynamic-bottom-box-help {
    min-height: 200px;
    background: #ddd;
    margin-top: 20px;
    padding: 10px; }
  .contacts-new-us-main-wrapper h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold; }
  .contacts-new-us-main-wrapper button.close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #000;
    font-size: 33px;
    opacity: 1; }
  .contacts-new-us-main-wrapper .container-wrapper-main {
    padding: 15px 45px;
    margin-top: 20px; }
    .contacts-new-us-main-wrapper .container-wrapper-main input, .contacts-new-us-main-wrapper .container-wrapper-main textarea {
      border: 1px solid #585657;
      padding: 10px;
      width: 100%;
      color: #656567; }
    .contacts-new-us-main-wrapper .container-wrapper-main ::placeholder {
      color: #656567; }
    .contacts-new-us-main-wrapper .container-wrapper-main p {
      margin-bottom: 0.5em;
      color: #656567; }
    .contacts-new-us-main-wrapper .container-wrapper-main .first-inputs {
      margin-bottom: 0.3em; }
    .contacts-new-us-main-wrapper .container-wrapper-main button {
      color: #fff;
      background-color: #615AA8;
      border-color: #615AA8;
      font-size: 25px;
      text-transform: uppercase;
      border-radius: 0px;
      letter-spacing: 1px;
      width: 24%;
      margin-top: 11px;
      margin-bottom: 18px; }
    .contacts-new-us-main-wrapper .container-wrapper-main .write-us {
      margin-bottom: 0;
      color: #000;
      font-size: 12.2px; }
    .contacts-new-us-main-wrapper .container-wrapper-main h3 {
      line-height: 1em;
      font-size: 20.5px; }
    .contacts-new-us-main-wrapper .container-wrapper-main h1 {
      font-size: 21px;
      font-family: "lato black";
      color: #404040;
      margin-top: 35px; }
  .contacts-new-us-main-wrapper .help-wrapper {
    margin-bottom: 0px; }

.about-us-main-container-new {
  font-family: "Lato Regular";
  color: #58595B;
  margin: 2em; }
  .about-us-main-container-new h1, .about-us-main-container-new h2, .about-us-main-container-new h3, .about-us-main-container-new h4, .about-us-main-container-new h5 {
    color: #000; }
  .about-us-main-container-new h1 {
    font-family: "lato black";
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.8em; }
  .about-us-main-container-new h3 {
    font-size: 1.5em;
    margin-top: 30px; }
  .about-us-main-container-new h4 {
    font-size: 1.3em;
    margin-top: 15px;
    margin-bottom: 15px; }
  .about-us-main-container-new h5 {
    font-size: 1.2em;
    margin-top: 35px;
    margin-bottom: 15px;
    border-bottom: 1px solid #000;
    display: inline-block; }
  .about-us-main-container-new p {
    margin-bottom: 5px; }
  .about-us-main-container-new .about-image-information-container {
    text-align: center; }
  .about-us-main-container-new a {
    font-weight: bold;
    color: #615ba7; }
  .about-us-main-container-new table {
    border-collapse: collapse;
    width: 30%;
    margin-top: 10px;
    margin-bottom: 15px; }
  .about-us-main-container-new table, .about-us-main-container-new td, .about-us-main-container-new th {
    border: 1px solid black;
    text-align: center;
    font-family: "lato regular"; }
  .about-us-main-container-new th {
    color: #000; }
  .about-us-main-container-new img {
    max-width: 100%; }

@media screen and (min-width: 1020px) {
  .about-us-main-container-new {
    margin: 2em auto;
    max-width: 80%; }
    .about-us-main-container-new img {
      max-width: 100%;
      width: 100%; }
    .about-us-main-container-new h1 {
      text-align: left; } }
@media (max-width: 768px) and (min-width: 767px) {
  .contacts-new-us-main-wrapper .container-wrapper-main input, .contacts-new-us-main-wrapper .container-wrapper-main textarea {
    width: 100%; }
  .contacts-new-us-main-wrapper .container-wrapper-main button {
    width: 40%; }

  .about-us-main-container-new table {
    width: 50%; } }
@media screen and (max-width: 767px) {
  .contacts-new-us-main-wrapper .container-wrapper-main {
    padding: 15px 10px; }
    .contacts-new-us-main-wrapper .container-wrapper-main input, .contacts-new-us-main-wrapper .container-wrapper-main textarea {
      width: 100%; }
    .contacts-new-us-main-wrapper .container-wrapper-main button {
      width: 60%; }
    .contacts-new-us-main-wrapper .container-wrapper-main h3 {
      font-size: 16px; }
    .contacts-new-us-main-wrapper .container-wrapper-main h1 {
      font-size: 17px; }

  .about-us-main-container-new {
    margin: 1em; }
    .about-us-main-container-new table {
      width: 100%; } }
/*scroll icon homepage starts*/
@media screen and (min-width: 1025px) {
  .icon-scroll,
  .icon-scroll:before {
    position: absolute;
    left: 50%; }

  .icon-scroll {
    width: 40px;
    height: 70px;
    margin-left: -20px;
    bottom: 3%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px;
    cursor: pointer; }

  .icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll; }

  @keyframes scroll {
    0% {
      opacity: 1; }
    100% {
      opacity: 0;
      transform: translateY(46px); } } }
/*scroll icon homepage ends*/

/*# sourceMappingURL=help-contacts-us.css.map */
