@font-face {
  font-family: 'Lato Hairline';
  src: url("fonts/Lato-Hairline.eot");
  src: url("fonts/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Hairline.woff2") format("woff2"), url("fonts/Lato-Hairline.woff") format("woff"), url("fonts/Lato-Hairline.ttf") format("truetype"), url("fonts/Lato-Hairline.svg#Lato-Hairline") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Lato HairlineItalic';
  src: url("fonts/Lato-HairlineItalic.eot");
  src: url("fonts/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-HairlineItalic.woff2") format("woff2"), url("fonts/Lato-HairlineItalic.woff") format("woff"), url("fonts/Lato-HairlineItalic.ttf") format("truetype"), url("fonts/Lato-HairlineItalic.svg#Lato-HairlineItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Lato Black';
  src: url("../fonts/Lato-Black.eot");
  src: url("../fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("truetype"), url("../fonts/Lato-Black.svg#Lato-Black") format("svg");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Lato BlackItalic';
  src: url("fonts/Lato-BlackItalic.eot");
  src: url("fonts/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-BlackItalic.woff2") format("woff2"), url("fonts/Lato-BlackItalic.woff") format("woff"), url("fonts/Lato-BlackItalic.ttf") format("truetype"), url("fonts/Lato-BlackItalic.svg#Lato-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Lato Light';
  src: url("fonts/Lato-Light.eot");
  src: url("fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Light.woff2") format("woff2"), url("fonts/Lato-Light.woff") format("woff"), url("fonts/Lato-Light.ttf") format("truetype"), url("fonts/Lato-Light.svg#Lato-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Lato LightItalic';
  src: url("fonts/Lato-LightItalic.eot");
  src: url("fonts/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-LightItalic.woff2") format("woff2"), url("fonts/Lato-LightItalic.woff") format("woff"), url("fonts/Lato-LightItalic.ttf") format("truetype"), url("fonts/Lato-LightItalic.svg#Lato-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Lato Bold';
  src: url("fonts/Lato-Bold.eot");
  src: url("fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Bold.woff2") format("woff2"), url("fonts/Lato-Bold.woff") format("woff"), url("fonts/Lato-Bold.ttf") format("truetype"), url("fonts/Lato-Bold.svg#Lato-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Lato BoldItalic';
  src: url("fonts/Lato-BoldItalic.eot");
  src: url("fonts/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-BoldItalic.woff2") format("woff2"), url("fonts/Lato-BoldItalic.woff") format("woff"), url("fonts/Lato-BoldItalic.ttf") format("truetype"), url("fonts/Lato-BoldItalic.svg#Lato-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Lato Italic';
  src: url("fonts/Lato-Italic.eot");
  src: url("fonts/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Italic.woff2") format("woff2"), url("fonts/Lato-Italic.woff") format("woff"), url("fonts/Lato-Italic.ttf") format("truetype"), url("fonts/Lato-Italic.svg#Lato-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }
body {
  margin: 0px;
  padding: 0px;
  font-family: "Lato Regular"; }

p,
span {
  font-family: "Lato Regular"; }

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important; }

.row {
  margin-right: 0 !important;
  margin-left: 0 !important; }

button,
a {
  cursor: pointer; }

a:hover {
  text-decoration: none !important; }

button:focus,
.btn.focus,
.btn:active,
label:focus,
label:active,
a:focus,
a:active {
  outline: none !important;
  box-shadow: none !important; }

.modal.fade {
  z-index: 9999 !important; }

.modal.fade {
  overflow: auto !important; }

.modal-dialog {
  background-color: #fff !important; }

input:focus::-webkit-input-placeholder {
  color: transparent !important; }

.close:hover {
  opacity: 0.5 !important; }

.navbar.navbar-landing-page {
  background-color: #CAC3E9;
  padding: 15px 40px 0px 25px; }
  .navbar.navbar-landing-page .navbar-brand {
    font-size: 40px; }
  .navbar.navbar-landing-page .searchicon {
    width: 51px; }
  .navbar.navbar-landing-page .navbar-collapse .first-ul {
    margin-right: 60px;
    text-align: center; }
    .navbar.navbar-landing-page .navbar-collapse .first-ul li a {
      color: #58595B !important;
      text-transform: uppercase;
      font-size: 18px;
      font-family: "Lato regular"; }
  .navbar.navbar-landing-page .navbar-collapse button {
    color: #58595B;
    background-color: #CAC3E9;
    font-size: 26px;
    line-height: 12px; }
  .navbar.navbar-landing-page .secondary-dropdown .dropdown-menu {
    min-width: 8rem;
    padding: 0px;
    padding-top: 5px;
    margin-top: 10px; }
  .navbar.navbar-landing-page .secondary-dropdown .dropdown-item {
    padding: 15px 15px;
    border-bottom: 1px solid #dbdada; }
  .navbar.navbar-landing-page .secondary-dropdown .dropdown-item:last-child {
    border-bottom: none; }
  .navbar.navbar-landing-page .input-group {
    margin-top: 10px; }

.navbar.webrtc-page {
  background: #CAC3E9; }

.img-box {
  padding: 0px;
  margin: 0px;
  position: relative; }
  .img-box img {
    width: 100%;
    position: relative; }
  .img-box h1 {
    color: #fff;
    position: absolute;
    bottom: 15%;
    font-size: 58px;
    text-align: center;
    width: 100%; }

.btn-box {
  text-transform: uppercase;
  color: #fff;
  text-align: center; }
  .btn-box h4 {
    font-size: 42px;
    margin-bottom: 28px;
    margin-top: 36px;
    font-family: 'Lato Black'; }
  .btn-box .like-box {
    background-color: #AA9BFF; }
  .btn-box .search-box {
    background-color: #CDC6E9; }
  .btn-box .like-box,
  .btn-box .search-box {
    padding: 60px 0px 73px 0px; }
  .btn-box .signup-box {
    background-color: #7D71A3;
    padding: 60px 0px 73px 0px; }
  .btn-box button {
    background-color: #615AA8;
    color: #fff;
    width: 253px;
    height: 92px;
    font-size: 34px;
    border-radius: 0px;
    font-weight: bold;
    font-family: "Lato Regular";
    text-transform: uppercase; }

.carousel-multiple-box {
  background-color: #7D71A3;
  padding-bottom: 38px;
  border: none; }
  .carousel-multiple-box img {
    width: 100%; }
  .carousel-multiple-box h3 {
    text-transform: capitalize;
    font-size: 24px;
    color: #CDC6E9;
    font-family: 'Gotham';
    position: absolute;
    top: 47%;
    text-align: center;
    width: 100%; }
  .carousel-multiple-box li {
    position: relative; }

.earth-box .no-padding {
  padding: 0px; }
.earth-box .homepage-about-banner-new {
  width: 80%;
  margin: 25px auto; }
  .earth-box .homepage-about-banner-new img {
    width: 100%; }
.earth-box h2 {
  color: #231F20;
  font-size: 48px;
  font-family: 'Lato Black';
  text-align: center;
  margin-top: 27px; }
.earth-box ol {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }
  .earth-box ol li {
    display: flex;
    border-bottom: 1px solid #808184;
    padding: 25px 0px 25px 0px; }
    .earth-box ol li img {
      margin-left: 37px; }
    .earth-box ol li span {
      display: block;
      font-size: 24px;
      margin-left: 26px;
      line-height: 26px; }
      .earth-box ol li span b {
        font-family: 'Lato Black'; }
  .earth-box ol li:last-child {
    border: none; }
.earth-box .img-earth-center {
  text-align: center;
  margin-top: 110px; }
.earth-box .text-center {
  font-size: 24px;
  margin-bottom: 70px; }
  .earth-box .text-center button {
    background-color: transparent;
    border: none; }
  .earth-box .text-center span {
    margin-left: 32px;
    color: #404041; }
    .earth-box .text-center span b {
      font-family: 'Lato Black';
      margin-right: 5px; }

.copy-right {
  background-color: #CBC4EC; }
  .copy-right p,
  .copy-right a {
    color: #58595B;
    font-family: "Lato regular"; }
  .copy-right p {
    margin-left: 37px;
    font-size: 16px; }
  .copy-right a {
    margin-right: 37px;
    font-size: 13px; }
  .copy-right a:hover {
    text-decoration: none;
    color: #58595B; }
  .copy-right .l-side,
  .copy-right .r-side {
    margin-top: 10px; }
  .copy-right .r-side {
    text-align: right; }

.webrtc-copyright {
  background: #615ba7;
  padding-top: 14px; }
  .webrtc-copyright p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 5px; }
  .webrtc-copyright .Webrtc-r-side {
    padding-right: 7px;
    text-align: right; }
    .webrtc-copyright .Webrtc-r-side span {
      border-right: 1px solid #fff;
      height: 11px;
      display: inline-block;
      line-height: 8px; }
      .webrtc-copyright .Webrtc-r-side span a {
        color: #ffffff;
        font-size: 12px;
        margin-right: 7px;
        padding-right: .5em;
        padding-left: .5em; }
      .webrtc-copyright .Webrtc-r-side span a:hover {
        color: #fff; }
    .webrtc-copyright .Webrtc-r-side span:last-child {
      border-right: none; }

.login-modal-container .loginmodal-container {
  padding: 30px 90px 35px 90px;
  background-color: #F7F7F7;
  border-radius: 0px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden; }
.login-modal-container h1 {
  text-transform: uppercase;
  color: #CDC6E9;
  font-size: 20px;
  font-family: 'Lato Black'; }
.login-modal-container input[type=text],
.login-modal-container input[type=password],
.login-modal-container input[type=tel] {
  height: 55px;
  font-size: 20px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #231F20;
  padding: 30px 20px;
  box-sizing: border-box;
  font-family: 'Lato Regular';
  color: #000;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }
.login-modal-container input::placeholder {
  color: #58595B; }
.login-modal-container input:focus::-webkit-input-placeholder {
  color: transparent; }
.login-modal-container .btn-primary {
  color: #fff;
  background-color: #615AA8;
  border-color: #615AA8;
  font-family: 'Lato Black';
  font-size: 25px;
  text-transform: uppercase;
  border-radius: 0px;
  width: 175px;
  height: 63px;
  letter-spacing: 1px; }
.login-modal-container .btn-primary:hover {
  color: #fff;
  background-color: #615AA8;
  border-color: #615AA8; }
.login-modal-container a {
  text-decoration: none;
  font-weight: 400;
  transition: opacity ease 0.5s; }
.login-modal-container .login-help a {
  font-size: 18px;
  color: #615AA8;
  font-family: 'Lato Regular'; }
.login-modal-container .user-text {
  font-size: 18px;
  color: #615AA8;
  font-family: 'Lato Regular'; }
  .login-modal-container .user-text b {
    font-family: 'Lato Black'; }
.login-modal-container .modal-header {
  padding-left: 0px; }
  .login-modal-container .modal-header button.close {
    padding: 0;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    position: relative;
    top: -40px;
    right: -70px;
    font-size: 33px;
    color: #000;
    opacity: 1; }
  .login-modal-container .modal-header .close:hover {
    opacity: .5; }
  .login-modal-container .modal-header button:focus {
    outline: none; }

.registration-modal-container .modal-header {
  border-bottom: none;
  padding-top: 5px; }
.registration-modal-container .modal-body {
  padding: 0px; }
.registration-modal-container .registrationmodal-container {
  padding: 5px 20px;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden; }
  .registration-modal-container .registrationmodal-container .intl-tel-input {
    width: 100%; }
    .registration-modal-container .registrationmodal-container .intl-tel-input .country-list .country-name {
      font-size: 12px; }
.registration-modal-container h1 {
  text-transform: uppercase;
  color: #CDC6E9;
  font-size: 20px;
  font-family: 'Lato Black'; }
.registration-modal-container input[type=text],
.registration-modal-container input[type=password],
.registration-modal-container input[type=tel] {
  height: 55px;
  font-size: 20px;
  width: 100%;
  margin-bottom: 15px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #231F20;
  padding: 30px 20px;
  box-sizing: border-box;
  font-family: 'Lato Regular';
  color: #000;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }
.registration-modal-container input::placeholder {
  color: #58595B; }
.registration-modal-container input:focus::-webkit-input-placeholder {
  color: transparent; }
.registration-modal-container .btn-primary {
  color: #fff;
  background-color: #615AA8;
  border-color: #615AA8;
  font-family: 'Lato Black';
  font-size: 25px;
  text-transform: uppercase;
  border-radius: 0px;
  width: 175px;
  height: 63px;
  letter-spacing: 1px; }
.registration-modal-container .btn-primary:hover {
  color: #fff;
  background-color: #615AA8;
  border-color: #615AA8; }
.registration-modal-container .btn-sm {
  color: #fff;
  background-color: #615AA8;
  border-color: #615AA8;
  border-radius: 0px;
  margin-left: 15px;
  width: 100px;
  height: 40px; }
.registration-modal-container .btn-sm:hover {
  color: #fff;
  background-color: #615AA8;
  border-color: #615AA8; }
.registration-modal-container a {
  text-decoration: none;
  font-weight: 400;
  transition: opacity ease 0.5s; }
.registration-modal-container .login-help a {
  font-size: 18px;
  color: #615AA8;
  font-family: 'Lato Regular'; }
.registration-modal-container .user-text {
  font-size: 16px;
  color: #58595B;
  font-family: 'Lato Regular'; }
  .registration-modal-container .user-text b {
    font-family: 'Lato Black'; }
.registration-modal-container .modal-header button.close {
  padding: 0;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  position: relative;
  top: -5px;
  right: -26px;
  font-size: 33px;
  color: #000;
  opacity: 1; }
.registration-modal-container .modal-header .close:hover {
  opacity: .5; }
.registration-modal-container .modal-header button:focus {
  outline: none; }
.registration-modal-container select {
  width: 100%;
  margin-bottom: 15px;
  font-size: 20px;
  padding: 15px 20px;
  background: #fff;
  border: 1px solid #231F20;
  box-sizing: border-box;
  font-family: 'Lato Regular';
  color: #58595B;
  background: url(../images/down-arrow.png) #fff no-repeat right;
  -webkit-appearance: none; }
.registration-modal-container h3.rate-negotiable-options-heading {
  font-size: 20px;
  font-family: 'Lato Regular';
  font-weight: normal;
  color: #58595B; }
.registration-modal-container .rate-negotiable-options {
  width: 100%; }
  .registration-modal-container .rate-negotiable-options span {
    width: 49%;
    float: left; }
    .registration-modal-container .rate-negotiable-options span label {
      font-family: 'Lato Regular';
      color: #58595B;
      font-size: 20px;
      margin-left: 7px; }
.registration-modal-container .browse-btn {
  margin: 10px 0px 20px 0px; }
  .registration-modal-container .browse-btn span {
    font-size: 20px;
    font-family: 'Lato Regular';
    color: #58595B; }
  .registration-modal-container .browse-btn .upld_img img {
    width: 120px;
    height: 120px; }
  .registration-modal-container .browse-btn .upld_img_btn {
    position: relative;
    overflow: hidden;
    margin-right: 20px; }
  .registration-modal-container .browse-btn .upld_img_btn input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block; }
.registration-modal-container .custom-padding-for-radio .right-remove-padding {
  padding-right: 0; }
.registration-modal-container .custom-padding-for-radio .left-remove-padding {
  padding-left: 0; }
.registration-modal-container .custom-padding-for-radio .rate-radio-group {
  padding-left: 42px; }

.Search-experts-container .modal-lg {
  max-width: 850px; }
.Search-experts-container .serach-modal-container {
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden; }
.Search-experts-container .dynamic-box {
  background: #afabd8;
  padding: 10px 45px;
  font-size: 18px;
  color: #58595B; }
  .Search-experts-container .dynamic-box span {
    font-family: 'Lato Regular';
    font-size: 18px;
    color: #58595B;
    padding-right: 5px;
    text-transform: capitalize; }
.Search-experts-container .modal-header {
  padding: 10px 45px; }
  .Search-experts-container .modal-header h1 {
    color: #CDC6E9;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Lato Black'; }
  .Search-experts-container .modal-header button.close {
    padding: 0;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    position: relative;
    top: -5px;
    right: -25px;
    font-size: 33px;
    color: #000;
    opacity: 1; }
  .Search-experts-container .modal-header .close:hover {
    opacity: .5; }
  .Search-experts-container .modal-header button:focus {
    outline: none; }
.Search-experts-container .main-form {
  padding: 30px 45px; }
  .Search-experts-container .main-form .padding-remove {
    padding: 0px; }
  .Search-experts-container .main-form h1 {
    text-transform: uppercase;
    color: #615AA8;
    font-size: 20px;
    font-family: 'Lato Black';
    margin-top: 20px; }
  .Search-experts-container .main-form input[type=text],
  .Search-experts-container .main-form input[type=password],
  .Search-experts-container .main-form input[type=tel] {
    height: 55px;
    font-size: 20px;
    width: 100%;
    margin-bottom: 15px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #231F20;
    padding: 30px 20px;
    box-sizing: border-box;
    font-family: 'Lato Regular';
    color: #000;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
  .Search-experts-container .main-form input::placeholder {
    color: #58595B; }
  .Search-experts-container .main-form input:focus::-webkit-input-placeholder {
    color: transparent; }
  .Search-experts-container .main-form select {
    width: 100%;
    margin-bottom: 25px;
    font-size: 21px;
    padding: 20px 20px;
    background: #fff;
    border: 1px solid #231F20;
    box-sizing: border-box;
    font-family: 'Lato Regular';
    color: #58595B;
    background: url(../images/down-arrow.png) no-repeat right;
    -webkit-appearance: none; }
  .Search-experts-container .main-form span {
    font-family: 'Lato Regular';
    text-transform: capitalize; }
  .Search-experts-container .main-form .example .btn-group {
    width: 100%; }
  .Search-experts-container .main-form .example .btn-group > .btn:first-child {
    width: 100%;
    margin-bottom: 25px;
    font-size: 21px;
    padding: 20px 20px;
    background: #fff;
    border: 1px solid #231F20;
    box-sizing: border-box;
    font-family: 'Lato Regular';
    color: #58595B;
    background: url(../images/down-arrow.png) no-repeat right;
    -webkit-appearance: none;
    text-align: left;
    border-radius: 0px; }
  .Search-experts-container .main-form .example .dropdown-toggle::after {
    display: none; }
  .Search-experts-container .main-form .example .multiselect-container {
    width: 100%;
    border-radius: 0px;
    border: 1px solid black; }
    .Search-experts-container .main-form .example .multiselect-container li {
      padding: 5px 0px; }
    .Search-experts-container .main-form .example .multiselect-container a {
      padding: 0;
      color: #58595B;
      font-size: 20px; }
    .Search-experts-container .main-form .example .multiselect-container label {
      width: 100%;
      text-transform: capitalize;
      font-size: 23px;
      padding-left: 20px;
      margin: 2px 0px; }
  .Search-experts-container .main-form .example input[type=checkbox] {
    float: right; }
  .Search-experts-container .main-form .example input {
    border: 1px solid #F00; }
.Search-experts-container .padding-remove {
  padding: 0px; }
.Search-experts-container .btn-primary {
  color: #fff;
  background-color: #615AA8;
  border-color: #615AA8;
  font-family: 'Lato Black';
  font-size: 25px;
  text-transform: uppercase;
  border-radius: 0px;
  width: 200px;
  height: 80px;
  letter-spacing: 1px;
  margin-top: 50px; }
.Search-experts-container .btn-primary:hover {
  color: #fff;
  background-color: #615AA8;
  border-color: #615AA8; }

.user-registration-modal-container .modal-header {
  border-bottom: none;
  padding-top: 5px; }
.user-registration-modal-container .modal-body {
  padding: 0px;
  padding-bottom: 20px; }
.user-registration-modal-container .userregistrationmodal-container {
  padding: 5px 20px;
  background-color: #F7F7F7;
  border-radius: 0px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden; }
  .user-registration-modal-container .userregistrationmodal-container .intl-tel-input {
    width: 100%; }
.user-registration-modal-container h1 {
  text-transform: uppercase;
  color: #CDC6E9;
  font-size: 20px;
  font-family: 'Lato Black'; }
.user-registration-modal-container input[type=text],
.user-registration-modal-container input[type=password],
.user-registration-modal-container input[type=tel] {
  height: 55px;
  font-size: 20px;
  width: 100%;
  margin-bottom: 15px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #231F20;
  padding: 30px 20px;
  box-sizing: border-box;
  font-family: 'Lato Regular';
  color: #000;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }
.user-registration-modal-container input::placeholder {
  color: #58595B; }
.user-registration-modal-container input:focus::-webkit-input-placeholder {
  color: transparent; }
.user-registration-modal-container .btn-primary {
  color: #fff;
  background-color: #615AA8;
  border-color: #615AA8;
  font-family: 'Lato Black';
  font-size: 25px;
  text-transform: uppercase;
  border-radius: 0px;
  width: 175px;
  height: 63px;
  letter-spacing: 1px; }
.user-registration-modal-container .btn-primary:hover {
  color: #fff;
  background-color: #615AA8;
  border-color: #615AA8; }
.user-registration-modal-container .btn-sm {
  color: #fff;
  background-color: #615AA8;
  border-color: #615AA8;
  border-radius: 0px;
  margin-left: 15px;
  width: 100px;
  height: 40px; }
.user-registration-modal-container .btn-sm:hover {
  color: #fff;
  background-color: #615AA8;
  border-color: #615AA8; }
.user-registration-modal-container a {
  text-decoration: none;
  font-weight: 400;
  transition: opacity ease 0.5s; }
.user-registration-modal-container .login-help a {
  font-size: 18px;
  color: #615AA8;
  font-family: 'Lato Regular'; }
.user-registration-modal-container .user-text {
  float: right;
  font-size: 16px;
  color: #58595B;
  font-family: 'Lato Regular';
  margin-top: 15px; }
  .user-registration-modal-container .user-text b {
    font-family: 'Lato Black'; }
.user-registration-modal-container .modal-header button.close {
  padding: 0;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  position: relative;
  top: -5px;
  right: -26px;
  font-size: 33px;
  color: #000;
  opacity: 1; }
.user-registration-modal-container .modal-header .close:hover {
  opacity: .5; }
.user-registration-modal-container .modal-header button:focus {
  outline: none; }
.user-registration-modal-container select {
  width: 100%;
  margin-bottom: 15px;
  font-size: 20px;
  padding: 15px 20px;
  background: #fff;
  border: 1px solid #231F20;
  box-sizing: border-box;
  font-family: 'Lato Regular';
  color: #58595B;
  background: url(../images/down-arrow.png) #fff no-repeat right;
  -webkit-appearance: none; }
.user-registration-modal-container .browse-btn {
  margin: 10px 0px 20px 0px; }
  .user-registration-modal-container .browse-btn span {
    font-size: 20px;
    font-family: 'Lato Regular';
    color: #58595B; }
  .user-registration-modal-container .browse-btn .upld_img img {
    width: 120px;
    height: 120px; }
  .user-registration-modal-container .browse-btn .upld_img_btn {
    position: relative;
    overflow: hidden;
    margin-right: 20px; }
  .user-registration-modal-container .browse-btn .upld_img_btn input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block; }

.byline {
  position: absolute;
  top: 150px;
  left: 30%;
  text-align: center;
  font-size: 18px; }

.byline a {
  text-decoration: none;
  color: #d74b4b; }

#wrap {
  display: inline-block;
  position: relative;
  height: 60px;
  float: right;
  padding: 0;
  position: relative; }
  #wrap input[type="text"] {
    height: 55px;
    font-size: 20px;
    box-sizing: border-box;
    font-family: 'Lato Regular';
    color: #000;
    display: inline-block;
    border: none;
    outline: none;
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
    cursor: pointer;
    border-radius: 5px; }
  #wrap input[type="text"]:focus:hover {
    border: 1px solid #231F20; }
  #wrap input[type="text"]:focus {
    width: 180px;
    border: 1px solid #231F20;
    cursor: text;
    background-color: #fff; }
  #wrap input[type="submit"] {
    height: 64px;
    width: 30px;
    display: inline-block;
    color: red;
    float: right;
    background: url(../images/search-small.png) center center no-repeat;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    cursor: pointer;
    transition: opacity .4s ease; }
  #wrap input[type="submit"]:hover {
    opacity: 0.8; }

.slider-horizontal {
  width: 100% !important;
  margin-top: 18px !important; }
  .slider-horizontal .slider-track {
    background-image: none;
    background-color: #CDC6E9;
    height: 5px !important;
    margin-top: -2px !important; }
  .slider-horizontal .slider-selection.tick-slider-selection {
    background: #615AA8;
    background-image: none; }
  .slider-horizontal .slider-handle {
    background: #615AA8;
    border: 0px;
    margin-left: 0px;
    background-image: none; }

.custom-slider {
  font-family: "Lato Regular";
  padding-right: 30px !important;
  padding-left: 30px !important; }
  .custom-slider .tooltip {
    opacity: 1 !important; }
  .custom-slider .tooltip-inner {
    color: #000;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    display: none;
    font-family: "Lato Regular"; }
  .custom-slider .tooltip.top {
    margin-top: 21px !important;
    margin-left: -12.5px !important; }
  .custom-slider .tooltip-inner {
    padding: 0px 7px;
    border-radius: .45rem; }
  .custom-slider .left-number-0 {
    position: relative;
    top: 63px;
    left: -5px; }
  .custom-slider .right-number-30 {
    position: absolute;
    bottom: 35px;
    right: 19px; }
  .custom-slider .slider-selection {
    background: #615AA8;
    background-image: none !important; }

.custom-slider-2 {
  font-family: "Lato Regular"; }
  .custom-slider-2 .tooltip-inner:before {
    display: none; }
  .custom-slider-2 .tooltip.tooltip-main.top .tooltip-inner:before {
    content: '$';
    display: inline-block !important; }
  .custom-slider-2 .left-number-1 {
    position: relative;
    top: 63px;
    left: -12px; }
  .custom-slider-2 .right-number-100 {
    position: absolute;
    top: 63px;
    right: 6px; }
  .custom-slider-2 .tooltip-inner {
    padding: 0px 0px; }

.form-group .dropdown-menu {
  z-index: 9999; }

/*sunil css for forgot password popup starts*/
.forgot-password-modal-container .forgot-password-modal-container {
  padding: 30px 90px 35px 90px;
  background-color: #F7F7F7;
  border-radius: 0px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden; }
  .forgot-password-modal-container .forgot-password-modal-container form p input {
    padding: 25px;
    font-size: 20px;
    width: 100%;
    margin-bottom: 25px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #231F20;
    padding-left: 39px;
    box-sizing: border-box;
    font-family: 'Lato Regular';
    color: #000;
    box-sizing: border-box;
    border-left: 1px solid #ddd; }
  .forgot-password-modal-container .forgot-password-modal-container form button {
    color: #fff;
    background-color: #615AA8;
    border-color: transparent;
    font-family: 'Lato Black';
    font-size: 25px;
    text-transform: uppercase;
    border-radius: 0px;
    letter-spacing: 1px;
    padding: 20px;
    margin-bottom: 10px; }
  .forgot-password-modal-container .forgot-password-modal-container form button.send-my-password {
    width: 60%;
    margin-right: 25px; }
  .forgot-password-modal-container .forgot-password-modal-container form button:last-child {
    width: 35.2%; }
  .forgot-password-modal-container .forgot-password-modal-container .forgot-password-header {
    padding-left: 0px;
    display: block;
    border-bottom: none; }
    .forgot-password-modal-container .forgot-password-modal-container .forgot-password-header h1 {
      text-transform: uppercase;
      color: #CDC6E9;
      font-size: 20px;
      font-family: 'Lato Black';
      margin-bottom: 25px; }
    .forgot-password-modal-container .forgot-password-modal-container .forgot-password-header button.close {
      padding: 0;
      background: 0 0;
      border: 0;
      -webkit-appearance: none;
      position: absolute;
      top: 4px;
      right: 10px;
      font-size: 33px;
      color: #000;
      opacity: 1; }
    .forgot-password-modal-container .forgot-password-modal-container .forgot-password-header p.tag-line {
      color: #615AA8;
      font-family: lato regular;
      font-size: 16px; }

/*sunil css for forgot password popup ends*/
@media screen and (max-width: 767px) {
  .navbar.navbar-landing-page {
    padding: 10px 15px; }
    .navbar.navbar-landing-page .navbar-collapse {
      margin-top: 25px; }
    .navbar.navbar-landing-page .searchbox {
      width: 100%; }
    .navbar.navbar-landing-page .form-control {
      display: inline-block;
      width: 85%; }
    .navbar.navbar-landing-page .form-inline {
      text-align: center;
      display: inherit; }
    .navbar.navbar-landing-page .navbar-collapse ul {
      text-align: center;
      margin-right: 0px; }
    .navbar.navbar-landing-page .navbar-collapse ul li a {
      font-size: 22px; }
    .navbar.navbar-landing-page .navbar-collapse button {
      color: #58595B;
      background-color: #CAC3E9;
      font-size: 26px; }
    .navbar.navbar-landing-page .navbar-collapse .first-ul {
      margin-right: 0px;
      text-align: center; }
      .navbar.navbar-landing-page .navbar-collapse .first-ul a {
        font-size: 22px; }
    .navbar.navbar-landing-page .navbar-collapse button {
      color: #58595B;
      background-color: #CAC3E9;
      font-size: 26px; }
    .navbar.navbar-landing-page .form-control + .input-group-addon:not(:first-child) {
      background-color: #CAC3E9; }
    .navbar.navbar-landing-page input::placeholder {
      color: #58595B; }
    .navbar.navbar-landing-page input:focus::-webkit-input-placeholder {
      color: transparent; }

  .btn-box h4 {
    font-size: 25px;
    margin-top: 22px; }
  .btn-box .like-box,
  .btn-box .search-box {
    padding: 30px 0px 25px 0px; }
  .btn-box .search-box img {
    width: 75px; }
  .btn-box .signup-box {
    padding: 30px 0px 25px 0px; }
  .btn-box button {
    height: 60px;
    font-size: 25px;
    margin-bottom: 10px;
    width: 155px; }

  .earth-box h2 {
    font-size: 21px;
    margin-bottom: 10px; }
  .earth-box ol li {
    padding: 25px 15px 25px 0px; }
    .earth-box ol li img {
      margin-left: 37px;
      width: 16%;
      height: 100%; }
    .earth-box ol li span {
      font-size: 15px; }
  .earth-box .img-earth-center {
    margin-top: 10px;
    margin-bottom: 20px; }
    .earth-box .img-earth-center .earth-img {
      width: 50%;
      height: 50%; }
  .earth-box .text-center {
    margin-bottom: 30px;
    margin-top: 20px; }
    .earth-box .text-center span {
      font-size: 20px; }

  .img-box h1 {
    font-size: 23px; }

  .registration-modal-container .btn-primary {
    width: 130px;
    height: 45px;
    font-size: 15px; }
  .registration-modal-container input[type=text],
  .registration-modal-container input[type=password] {
    padding: 10px;
    height: 50px;
    font-size: 17px; }
  .registration-modal-container .registrationmodal-container {
    padding: 0px; }
  .registration-modal-container select {
    padding: 10px;
    height: 50px;
    font-size: 17px; }
  .registration-modal-container .modal-header button.close {
    position: relative;
    top: -3px;
    right: -10px;
    font-size: 30px; }

  .login-modal-container .loginmodal-container {
    padding: 10px 30px 30px 30px; }
  .login-modal-container .btn-primary {
    width: 95px;
    height: 40px;
    font-size: 15px; }
  .login-modal-container input[type=text],
  .login-modal-container input[type=password] {
    height: 45px;
    font-size: 17px;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px; }
  .login-modal-container .user-text {
    font-size: 15px;
    margin-top: 5px; }
  .login-modal-container .login-help a {
    font-size: 15px; }
  .login-modal-container .modal-header button.close {
    top: -25px;
    right: -35px; }

  .copy-right {
    background-color: #CBC4EC; }
    .copy-right p,
    .copy-right a {
      color: #58595B;
      font-family: "Lato regular"; }
    .copy-right p {
      margin-left: 0px;
      font-size: 16px;
      margin-bottom: 0px; }
    .copy-right a {
      margin-right: 0px;
      font-size: 17px; }
    .copy-right a:hover {
      text-decoration: none;
      color: #58595B; }
    .copy-right .l-side,
    .copy-right .r-side {
      margin-top: 10px; }
    .copy-right .r-side {
      text-align: center;
      margin-bottom: 12px; }
    .copy-right .row {
      text-align: center; }

  .Search-experts-container .serach-modal-container h1 {
    padding: 10px 15px; }
  .Search-experts-container .modal-header {
    padding: 10px; }
    .Search-experts-container .modal-header button.close {
      top: -35px;
      right: 0px; }
  .Search-experts-container .dynamic-box {
    padding: 10px 20px; }
  .Search-experts-container .main-form {
    padding: 10px; }
    .Search-experts-container .main-form select {
      margin-bottom: 0px;
      padding: 10px;
      height: 50px;
      font-size: 17px; }
    .Search-experts-container .main-form span.text {
      padding: 0px 15px;
      display: block; }
    .Search-experts-container .main-form .example .btn-group {
      width: 100%; }
    .Search-experts-container .main-form .example .btn-group > .btn:first-child {
      margin-bottom: 0px;
      padding: 10px;
      height: 50px;
      font-size: 20px; }
  .Search-experts-container .btn-primary {
    width: 130px;
    height: 45px;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 15px; }

  .user-registration-modal-container .btn-primary {
    width: 130px;
    height: 45px;
    font-size: 15px; }
  .user-registration-modal-container input[type=text],
  .user-registration-modal-container input[type=password] {
    padding: 10px;
    height: 50px;
    font-size: 17px; }
  .user-registration-modal-container .userregistrationmodal-container {
    padding: 0px; }
  .user-registration-modal-container select {
    padding: 10px;
    height: 50px;
    font-size: 17px; }
  .user-registration-modal-container .modal-header button.close {
    position: relative;
    top: -3px;
    right: -10px;
    font-size: 30px; }
  .user-registration-modal-container .user-text {
    float: left; }

  .slider-horizontal {
    width: 100% !important;
    margin-top: 18px !important; }
    .slider-horizontal .slider-track {
      background-image: none;
      background-color: #CDC6E9;
      height: 5px !important;
      margin-top: -2px !important; }
    .slider-horizontal .slider-selection.tick-slider-selection {
      background: #615AA8;
      background-image: none; }
    .slider-horizontal .slider-handle {
      background: #615AA8;
      border: 0px;
      margin-left: 0px;
      background-image: none; }

  .btn-top-space {
    margin-top: 30px; }

  .bottom-space {
    margin-bottom: 20px; }

  .custom-slider {
    font-family: "Lato Regular"; }
    .custom-slider .right-number-30 {
      position: absolute;
      top: 40px;
      right: 13px; }
    .custom-slider .left-number-0 {
      position: absolute;
      top: 40px;
      left: 30px; }

  .custom-slider-2 {
    font-family: "Lato Regular"; }
    .custom-slider-2 .left-number-1 {
      position: relative;
      top: 63px;
      left: -12px; }
    .custom-slider-2 .right-number-100 {
      position: absolute;
      top: 63px;
      right: 6px; }

  .bx-wrapper .bx-next {
    background-position: 70% 0px !important; }

  .forgot-password-modal-container .forgot-password-modal-container {
    padding: 20px; }
    .forgot-password-modal-container .forgot-password-modal-container form button.send-my-password {
      width: 100%;
      margin-right: 0;
      padding: 6%; }
    .forgot-password-modal-container .forgot-password-modal-container form button:last-child {
      width: 100%; }

  div#end-session-modal, div#reconnect-modal, div#network-stats-modal {
    padding-left: 20px;
    padding-right: 20px; } }
@media (max-width: 768px) and (min-width: 767px) {
  .earth-box h2 {
    font-size: 28px;
    margin-bottom: 10px; }
  .earth-box .img-earth-center {
    margin-top: 0px !important;
    margin-bottom: 30px; }
    .earth-box .img-earth-center .earth-img {
      width: 30% !important;
      height: 100%; }
  .earth-box ol li {
    text-align: center;
    display: inherit; }
    .earth-box ol li span {
      font-size: 21px !important; }

  .navbar.navbar-landing-page .searchbox,
  .navbar.navbar-landing-page .searchbox-input {
    width: 100%; }
  .navbar.navbar-landing-page .form-control + .input-group-addon:not(:first-child) {
    background-color: #CAC3E9; }
  .navbar.navbar-landing-page input::placeholder {
    color: #58595B; }
  .navbar.navbar-landing-page input:focus::-webkit-input-placeholder {
    color: transparent; }
  .navbar.navbar-landing-page .navbar-collapse .first-ul {
    margin-right: 0;
    text-align: center; }

  .custom-padding-for-radio .right-remove-padding {
    padding-right: 15px !important; }
  .custom-padding-for-radio .left-remove-padding {
    padding-left: 15px !important; }
  .custom-padding-for-radio .rate-radio-group {
    padding-left: 15px !important; }

  .registration-modal-container .rate-negotiable-options span {
    width: 25% !important; }

  .forgot-password-modal-container .forgot-password-modal-container {
    padding: 20px; }
    .forgot-password-modal-container .forgot-password-modal-container form button.send-my-password {
      width: 100%;
      margin-right: 0;
      padding: 6%; }
    .forgot-password-modal-container .forgot-password-modal-container form button:last-child {
      width: 100%; }
    .forgot-password-modal-container .forgot-password-modal-container .forgot-password-header p.tag-line {
      font-size: 19px; }

  .screen-share-container form p#screen-share-label {
    font-size: 20px; }

  .listen-share-container form p.listen-desc {
    margin-bottom: 22px !important; }

  .webrtc-timer-shared .timer-bg-white .row #features-more li {
    width: 30% !important; } }
@media (max-width: 1024px) and (min-width: 768px) {
  .navbar.navbar-landing-page {
    padding: 10px 15px 16px 15px; }
    .navbar.navbar-landing-page .navbar-collapse {
      margin-top: 15px; }
    .navbar.navbar-landing-page .navbar-right ul {
      text-align: center;
      margin-right: 40px; }
    .navbar.navbar-landing-page .navbar-right ul li a {
      font-size: 22px; }
    .navbar.navbar-landing-page .navbar-right li {
      border-right: none;
      height: 30px;
      line-height: 11px; }
    .navbar.navbar-landing-page .navbar-right li:last-child {
      border-right: none; }
    .navbar.navbar-landing-page .navbar-right button {
      color: #58595B;
      background-color: #CAC3E9;
      font-size: 26px; }

  .btn-box h4 {
    font-size: 28px;
    height: 90px; }
  .btn-box .like-box,
  .btn-box .search-box {
    padding: 60px 10px 60px 10px; }
  .btn-box .signup-box {
    padding: 60px 10px 60px 10px; }
  .btn-box button {
    width: 180px;
    height: 70px;
    font-size: 25px;
    margin-bottom: 10px; }

  .img-box h1 {
    font-size: 50px; }

  .earth-box h2 {
    font-size: 28px;
    margin-bottom: 10px; }
  .earth-box .img-earth-center {
    margin-top: 80px; }
    .earth-box .img-earth-center .earth-img {
      width: 80%;
      height: 80%; }
  .earth-box ol li {
    padding: 25px 15px 25px 0px; }
    .earth-box ol li img {
      margin-left: 37px;
      width: 16%;
      height: 100%; }
    .earth-box ol li span {
      font-size: 17px; }
  .earth-box .text-center {
    margin-bottom: 20px; }

  .registration-modal-container .btn-primary {
    font-size: 19px;
    width: 150px;
    height: 50px; }
  .registration-modal-container .btn-primary {
    width: 120px;
    height: 40px;
    font-size: 15px; }
  .registration-modal-container input[type=text],
  .registration-modal-container input[type=password] {
    padding: 10px;
    height: 50px;
    font-size: 17px; }
  .registration-modal-container .registrationmodal-container {
    padding: 0px; }
  .registration-modal-container select {
    padding: 10px;
    height: 50px;
    font-size: 17px; }
  .registration-modal-container .modal-header button.close {
    position: relative;
    top: -3px;
    right: -10px;
    font-size: 30px; }
  .registration-modal-container .btn-sm {
    width: 80px;
    height: 35px; }

  .login-modal-container .loginmodal-container {
    padding: 10px 30px 30px 30px; }
  .login-modal-container .btn-primary {
    width: 115px;
    height: 50px;
    font-size: 20px; }
  .login-modal-container .modal-header button.close {
    top: -25px;
    right: -35px; }
  .login-modal-container .user-text {
    margin-top: 10px; }

  .Search-experts-container .modal-lg {
    max-width: 700px; }
  .Search-experts-container .serach-modal-container h1 {
    padding: 10px 15px; }
  .Search-experts-container .modal-header {
    padding: 10px; }
    .Search-experts-container .modal-header button.close {
      top: -20px;
      right: 0px; }
  .Search-experts-container .dynamic-box {
    padding: 10px 20px; }
  .Search-experts-container .main-form {
    padding: 10px; }
    .Search-experts-container .main-form select {
      margin-bottom: 0px;
      padding: 10px;
      height: 50px;
      font-size: 17px; }
    .Search-experts-container .main-form span.text {
      padding: 0px 15px;
      display: block; }
    .Search-experts-container .main-form .example .btn-group {
      width: 100%; }
    .Search-experts-container .main-form .example .btn-group > .btn:first-child {
      margin-bottom: 0px;
      padding: 10px;
      height: 50px;
      font-size: 20px; }
  .Search-experts-container .btn-primary {
    width: 130px;
    height: 45px;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 15px; }

  .user-registration-modal-container .btn-primary {
    font-size: 19px;
    width: 150px;
    height: 50px; }
  .user-registration-modal-container .btn-primary {
    width: 120px;
    height: 40px;
    font-size: 15px; }
  .user-registration-modal-container input[type=text],
  .user-registration-modal-container input[type=password] {
    padding: 10px;
    height: 50px;
    font-size: 17px; }
  .user-registration-modal-container .userregistrationmodal-container {
    padding: 0px; }
  .user-registration-modal-container .user-text {
    margin-top: 5px; }
  .user-registration-modal-container select {
    padding: 10px;
    height: 50px;
    font-size: 17px; }
  .user-registration-modal-container .modal-header button.close {
    position: relative;
    top: -3px;
    right: -10px;
    font-size: 30px; }
  .user-registration-modal-container .btn-sm {
    width: 80px;
    height: 35px; }

  #wrap input[type="text"]:focus {
    width: 190px;
    border: 1px solid #231F20;
    cursor: text;
    background-color: #fff; }

  .slider-horizontal {
    width: 100% !important;
    margin-top: 18px; }
    .slider-horizontal .slider-track {
      background-image: none;
      background-color: #CDC6E9;
      height: 5px !important;
      margin-top: -2px !important; }
    .slider-horizontal .slider-selection.tick-slider-selection {
      background: #615AA8;
      background-image: none; }
    .slider-horizontal .slider-handle {
      background: #615AA8;
      border: 0px;
      margin-left: 0px;
      background-image: none; }

  .btn-top-space {
    margin-top: 30px; }

  .bottom-space {
    margin-bottom: 20px; }

  .custom-slider {
    font-family: "Lato Regular"; }
    .custom-slider .right-number-30 {
      position: absolute;
      top: 40px;
      right: 13px; }
    .custom-slider .left-number-0 {
      position: absolute;
      top: 40px;
      left: 30px; }

  .custom-slider-2 {
    font-family: "Lato Regular"; }
    .custom-slider-2 .left-number-1 {
      position: relative;
      top: 63px;
      left: -12px; }
    .custom-slider-2 .right-number-100 {
      position: absolute;
      top: 63px;
      right: 6px; }

  .d-lg-none .input-group {
    width: 50%;
    margin: 0 auto; } }
span.dynamic-box-first,
span.dynamic-box-second,
span.dynamic-box-third,
span.dynamic-box-forth {
  display: none;
  cursor: pointer; }

span.dynamic-box-first:after,
span.dynamic-box-second:after,
span.dynamic-box-third:after,
span.dynamic-box-forth:after {
  content: ' x  ';
  content: ' x ';
  position: relative;
  top: -2px;
  color: #000;
  text-transform: lowercase; }

/*sunil css starts*/
.main-share-file-box {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.webrtc-shared-file {
  background: #bcafff;
  padding: 0 !important;
  height: 100%; }
  .webrtc-shared-file .panel-default {
    background: #fff;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000; }
    .webrtc-shared-file .panel-default div#headingOne {
      padding: 20px;
      padding-right: 0; }
      .webrtc-shared-file .panel-default div#headingOne h4.panel-title {
        margin-bottom: 0; }
        .webrtc-shared-file .panel-default div#headingOne h4.panel-title a {
          font-size: 16px;
          color: #615aa8;
          font-weight: bold;
          display: block;
          padding-top: 2px;
          padding-left: 8px;
          font-family: "Lato Regular";
          padding-bottom: 8px;
          margin-right: 20px; }
      .webrtc-shared-file .panel-default div#headingOne a[aria-expanded="true"] {
        background: url(../images/webrtc-arrowup.png) no-repeat right; }
      .webrtc-shared-file .panel-default div#headingOne a[aria-expanded="false"] {
        background: url(../images/webrtc-arrowdown.png) no-repeat right; }

.webrtc-shared-file .main-flex-box {
  display: flex;
  justify-content: space-around; }
  .webrtc-shared-file .main-flex-box p {
    padding-top: 10px;
    color: #808184;
    font-size: 18px; }
.webrtc-shared-file .download-icon, .webrtc-shared-file .dustbin-icon, .webrtc-shared-file .eye-icon, .webrtc-shared-file .save-icon {
  max-width: 100%;
  background-size: 100%;
  background-image: url("../images/sprite-2.png"); }
.webrtc-shared-file .download-icon {
  background-position: 0 0%;
  background-size: 100%; }
.webrtc-shared-file .dustbin-icon {
  background-position: 0 33.333333%;
  background-size: 100%; }
.webrtc-shared-file .eye-icon {
  background-position: 0 66.666667%;
  background-size: 100%; }
.webrtc-shared-file .save-icon {
  background-position: 0 100%;
  background-size: 100%; }

.webrtc-shared-file .local-share-image-box .image-container {
  text-align: center;
  padding: 0px 10px 15px 10px;
  width: 100%; }
  .webrtc-shared-file .local-share-image-box .image-container img {
    width: auto;
    max-width: 100%; }
.webrtc-shared-file .local-share-image-box .view-image-option {
  color: #615aa8;
  text-align: right;
  font-size: 12px;
  padding: 5px 25px 0px 25px; }
  .webrtc-shared-file .local-share-image-box .view-image-option .fa {
    padding-left: 8px;
    padding-right: 8px;
    border: 2px solid #615aa8;
    border-radius: 50%;
    padding: 1%;
    cursor: pointer; }

.webrtc-remote-shared-file {
  background: #cdc6e9;
  padding: 0 !important;
  height: 100%; }
  .webrtc-remote-shared-file .local-share-image-box .image-container {
    text-align: center;
    padding: 0px 10px 15px 10px;
    width: 100%; }
    .webrtc-remote-shared-file .local-share-image-box .image-container img {
      width: auto;
      max-width: 100%; }
  .webrtc-remote-shared-file .local-share-image-box .view-image-option {
    color: #615aa8;
    text-align: right;
    font-size: 12px;
    padding: 5px 25px 0px 25px; }
    .webrtc-remote-shared-file .local-share-image-box .view-image-option .fa {
      padding-left: 8px;
      padding-right: 8px;
      border: 2px solid #615aa8;
      border-radius: 50%;
      padding: 1%;
      cursor: pointer; }
  .webrtc-remote-shared-file .panel-default {
    background: #fff;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000; }
    .webrtc-remote-shared-file .panel-default div#collapseTwo {
      padding: 0 20px; }
    .webrtc-remote-shared-file .panel-default div#headingTwo {
      padding: 20px;
      padding-right: 0; }
      .webrtc-remote-shared-file .panel-default div#headingTwo h4.panel-title {
        margin-bottom: 0; }
        .webrtc-remote-shared-file .panel-default div#headingTwo h4.panel-title a {
          font-size: 16px;
          color: #615aa8;
          font-weight: bold;
          display: block;
          padding-top: 2px;
          padding-left: 8px;
          font-family: "Lato Regular";
          padding-bottom: 8px;
          margin-right: 20px; }
      .webrtc-remote-shared-file .panel-default div#headingTwo a[aria-expanded="true"] {
        background: url(../images/webrtc-arrowup.png) no-repeat right; }
      .webrtc-remote-shared-file .panel-default div#headingTwo a[aria-expanded="false"] {
        background: url(../images/webrtc-arrowdown.png) no-repeat right; }
    .webrtc-remote-shared-file .panel-default div#collapseTwo .panel-body p {
      padding-left: 8px; }

.webrtc-timer-shared {
  background: #c7c2e6;
  padding-left: 0 !important;
  padding-right: 0 !important; }
  .webrtc-timer-shared .timer-bg-white {
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 35px;
    padding-right: 5px; }
    .webrtc-timer-shared .timer-bg-white .btn-lg {
      padding: 10px;
      border-radius: 0px;
      width: 100%;
      background-color: #615AA8;
      color: #fff;
      margin: 2px;
      font-family: 'Lato Regular';
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px; }
    .webrtc-timer-shared .timer-bg-white .btn-lg.active {
      background: #444071; }
    .webrtc-timer-shared .timer-bg-white .row {
      padding: 0px 0px 0px 9px; }
      .webrtc-timer-shared .timer-bg-white .row .box-2-btn {
        padding-left: 0px;
        padding-right: 6px; }
        .webrtc-timer-shared .timer-bg-white .row .box-2-btn .dropdown {
          width: 100%;
          background-color: #615AA8;
          margin-top: 2px;
          height: 43px;
          margin-left: 2px; }
          .webrtc-timer-shared .timer-bg-white .row .box-2-btn .dropdown button {
            width: 100%;
            background-color: #615AA8;
            border-color: transparent;
            font-size: 14px;
            font-weight: bold;
            font-family: lato regular;
            padding: 10px;
            margin-top: 2px; }
      .webrtc-timer-shared .timer-bg-white .row #features-more {
        width: 100%;
        padding: 3px;
        border: none;
        background: #615aa8;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        text-align: center;
        margin-top: 0;
        min-width: 49%; }
        .webrtc-timer-shared .timer-bg-white .row #features-more li {
          border-bottom: 1px solid #fff;
          padding-bottom: 3px;
          padding-top: 3px;
          width: 80%;
          margin-left: 10px;
          margin-right: 10px;
          margin: 0 auto; }
          .webrtc-timer-shared .timer-bg-white .row #features-more li a {
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            font-family: "Lato Regular"; }
        .webrtc-timer-shared .timer-bg-white .row #features-more li:last-child {
          border-bottom: none; }
      .webrtc-timer-shared .timer-bg-white .row .send-message-container {
        padding-left: 1px;
        padding-right: 5px; }
        .webrtc-timer-shared .timer-bg-white .row .send-message-container .input-group {
          top: 20px;
          width: 100%;
          padding-right: 0;
          padding-left: 0;
          padding-bottom: 6px; }
          .webrtc-timer-shared .timer-bg-white .row .send-message-container .input-group .form-control {
            border: 1px solid #000;
            border-right: none;
            color: #808184;
            font-size: 17px;
            border-bottom-left-radius: 11px;
            border-top-left-radius: 11px; }
          .webrtc-timer-shared .timer-bg-white .row .send-message-container .input-group .input-group-btn button.btn.btn-default {
            border: 1px solid #000;
            margin: 0;
            padding: 9px 20px;
            border-left: none;
            background: #615aa8;
            color: #fff;
            font-size: 17px;
            font-weight: bold;
            border-bottom-right-radius: 13%;
            border-top-right-radius: 13%; }
          .webrtc-timer-shared .timer-bg-white .row .send-message-container .input-group span.plus-minus-toggle {
            position: relative;
            width: 25px;
            right: 0;
            margin-left: 10px; }
          .webrtc-timer-shared .timer-bg-white .row .send-message-container .input-group span.plus-minus-toggle:after {
            position: absolute;
            top: 18px;
            right: 0px;
            content: "+";
            color: #615aa8;
            line-height: 0;
            font-size: 38px;
            cursor: pointer; }
          .webrtc-timer-shared .timer-bg-white .row .send-message-container .input-group span.plus-minus-toggle.active:after {
            position: absolute;
            top: 18px;
            right: 0px;
            content: "-";
            color: #615aa8;
            line-height: 0;
            font-size: 38px;
            cursor: pointer; }
  .webrtc-timer-shared .timer-bg-white.backround-change-color {
    background-color: #c6c0df; }
  .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-type {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    background: #aa9bff;
    padding: 10px;
    box-shadow: inset 0px 22px 31px -11px rgba(0, 0, 0, 0.24); }
  .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .local-video-type {
    background: #cdc6e9; }
  .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-image-wrapper {
    width: 100%; }
    .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-image-wrapper img {
      width: 100%; }
  .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-action-icons-wrapper {
    padding: 1px;
    background: #aa9bff;
    color: #fff;
    /*display: inline-block;*/
    justify-content: space-around;
    text-align: center; }
    .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-action-icons-wrapper a {
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;
      display: inline-block;
      width: 50px;
      text-align: center; }
    .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-action-icons-wrapper .img1, .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-action-icons-wrapper .img2, .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-action-icons-wrapper .img3, .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-action-icons-wrapper .img4, .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-action-icons-wrapper .img5, .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-action-icons-wrapper .img6, .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-action-icons-wrapper .img7 {
      max-width: 100%;
      background-size: 100%;
      background-image: url("../images/sprite.png"); }
    .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-action-icons-wrapper .img1 {
      background-position: 0 0%;
      background-size: 100%; }
    .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-action-icons-wrapper .img2 {
      background-position: 0 16.666667%;
      background-size: 100%; }
    .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-action-icons-wrapper .img3 {
      background-position: 0 33.333333%;
      background-size: 100%; }
    .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-action-icons-wrapper .img4 {
      background-position: 0 50%;
      background-size: 100%; }
    .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-action-icons-wrapper .img5 {
      background-position: 0 66.666667%;
      background-size: 100%; }
    .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-action-icons-wrapper .img6 {
      background-position: 0 83.333333%;
      background-size: 100%; }
    .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-action-icons-wrapper .img7 {
      background-position: 0 100%;
      background-size: 100%; }
  .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .local-video-action-icons-wrapper {
    background: #cdc6e9; }
  .webrtc-timer-shared .panel-default {
    background: #615aa8;
    padding: 10px;
    padding-bottom: 3px;
    margin: 5px 5px 5px 11px; }
    .webrtc-timer-shared .panel-default #collapseThree .panel-body ul {
      list-style: none;
      display: inline-block;
      padding-left: 0;
      margin-bottom: 0px;
      width: 100%;
      /*li:nth-child(2),
      li:nth-child(4) {
      	padding-left: 35px;
      }*/ }
      .webrtc-timer-shared .panel-default #collapseThree .panel-body ul li {
        width: 50%;
        float: left;
        font-size: 14px;
        color: #fff;
        font-weight: bold; }
      .webrtc-timer-shared .panel-default #collapseThree .panel-body ul li:first-child,
      .webrtc-timer-shared .panel-default #collapseThree .panel-body ul li:nth-child(2) {
        font-size: 9px; }
      .webrtc-timer-shared .panel-default #collapseThree .panel-body ul li:nth-child(3),
      .webrtc-timer-shared .panel-default #collapseThree .panel-body ul li:nth-child(4) {
        padding-top: 3px; }
    .webrtc-timer-shared .panel-default div#headingThree h4.panel-title a {
      font-size: 16px;
      color: #ffffff;
      font-weight: bold;
      display: block;
      position: relative;
      padding: .3rem;
      padding-left: 0; }
    .webrtc-timer-shared .panel-default div#headingThree h4.panel-title a:after {
      content: '-';
      position: absolute;
      right: 0;
      top: 0; }
    .webrtc-timer-shared .panel-default div#headingThree h4.panel-title a.collapsed:after {
      content: '+';
      position: absolute;
      right: 0;
      top: 0; }

.screen-share-container {
  padding: 25px 10px 50px 50px; }
  .screen-share-container form p.share-radio {
    border: 1px solid #58595b;
    padding: 10px;
    margin-bottom: 2px;
    font-size: 16px;
    font-family: lato regular;
    color: #58595b;
    margin-right: 25px; }
    .screen-share-container form p.share-radio input {
      margin-right: 10px;
      background: transparent; }
    .screen-share-container form p.share-radio input[type=radio]:checked ~ .call {
      border: 5px solid #0DFF92; }
  .screen-share-container form p.share-checkbox {
    margin-top: 15px;
    color: #58595b;
    font-size: 16px;
    font-family: lato regular;
    padding: 10px; }
    .screen-share-container form p.share-checkbox input {
      margin-right: 10px;
      background: transparent; }
  .screen-share-container form p.share-button {
    display: inline;
    margin-right: 20px; }
    .screen-share-container form p.share-button button {
      color: #fff;
      background-color: #615AA8;
      border-color: #615AA8;
      font-family: 'Lato Black';
      font-size: 25px;
      text-transform: uppercase;
      border-radius: 0px;
      width: 175px;
      height: 63px;
      letter-spacing: 1px; }
  .screen-share-container .share-screen-header {
    border-bottom: none;
    padding: 0px;
    padding-bottom: 15px; }
    .screen-share-container .share-screen-header h1 {
      font-size: 24px;
      font-family: lato black;
      color: #cdc6e9; }
    .screen-share-container .share-screen-header h6 {
      font-size: 16px;
      font-family: lato regular;
      color: #58595b;
      margin-bottom: 15px; }
    .screen-share-container .share-screen-header p#screen-share-label {
      font-size: 16px;
      color: #615aa8;
      font-family: lato regular; }
    .screen-share-container .share-screen-header button.close {
      position: absolute;
      top: 5px;
      right: 10px;
      color: #000;
      font-size: 33px;
      opacity: 1; }

.reconnect-share-container {
  padding: 25px 10px 30px 50px; }
  .reconnect-share-container .modal-header.reconnect-in-header {
    border-bottom: none;
    padding: 0px;
    padding-bottom: 15px; }
    .reconnect-share-container .modal-header.reconnect-in-header button.close {
      position: absolute;
      top: 5px;
      right: 10px;
      color: #000;
      font-size: 33px;
      opacity: 1; }
    .reconnect-share-container .modal-header.reconnect-in-header h1 {
      font-size: 24px;
      font-family: lato black;
      color: #cdc6e9; }
  .reconnect-share-container form p.reconnect-desc {
    font-size: 16px;
    font-family: lato regular;
    color: #58595b;
    margin-bottom: 10px; }
  .reconnect-share-container form .yes-reconnect-button, .reconnect-share-container form .no-reconnect-button {
    width: 30%;
    display: inline;
    margin-bottom: 0px; }
    .reconnect-share-container form .yes-reconnect-button button, .reconnect-share-container form .no-reconnect-button button {
      color: #fff;
      background-color: #615AA8;
      border-color: #615AA8;
      font-family: 'Lato Black';
      font-size: 25px;
      text-transform: uppercase;
      border-radius: 0px;
      width: 175px;
      height: 63px;
      letter-spacing: 1px;
      margin-top: 20px;
      margin-right: 15px; }

.end-session-share-container {
  padding: 25px 10px 30px 50px; }
  .end-session-share-container .modal-header.end-session-in-header {
    border-bottom: none;
    padding: 0px;
    padding-bottom: 15px; }
    .end-session-share-container .modal-header.end-session-in-header button.close {
      position: absolute;
      top: 5px;
      right: 10px;
      color: #000;
      font-size: 33px;
      opacity: 1; }
    .end-session-share-container .modal-header.end-session-in-header h1 {
      font-size: 24px;
      font-family: lato black;
      color: #cdc6e9; }
  .end-session-share-container form p.end-session-desc {
    font-size: 16px;
    font-family: lato regular;
    color: #58595b;
    margin-bottom: 10px; }
  .end-session-share-container form .yes-end-session-button, .end-session-share-container form .no-end-session-button {
    width: 30%;
    display: inline;
    margin-bottom: 0px; }
    .end-session-share-container form .yes-end-session-button button, .end-session-share-container form .no-end-session-button button {
      color: #fff;
      background-color: #615AA8;
      border-color: #615AA8;
      font-family: 'Lato Black';
      font-size: 25px;
      text-transform: uppercase;
      border-radius: 0px;
      width: 175px;
      height: 63px;
      letter-spacing: 1px;
      margin-top: 20px;
      margin-right: 15px; }

.network-stats-share-container {
  padding: 25px 10px 30px 50px; }
  .network-stats-share-container .modal-header.network-stats-in-header {
    border-bottom: none;
    padding: 0px;
    padding-bottom: 15px; }
    .network-stats-share-container .modal-header.network-stats-in-header button.close {
      position: absolute;
      top: 5px;
      right: 10px;
      color: #000;
      font-size: 33px;
      opacity: 1; }
    .network-stats-share-container .modal-header.network-stats-in-header h1 {
      font-size: 24px;
      font-family: lato black;
      color: #cdc6e9; }

.listen-share-container {
  padding: 25px 10px 5px 50px; }
  .listen-share-container form {
    padding: 15px; }
    .listen-share-container form p.listen-desc {
      font-size: 16px;
      font-family: lato regular;
      color: #58595b;
      margin-bottom: 10px; }
    .listen-share-container form p.listen-email input {
      width: 97%;
      padding: 10px;
      font-size: 16px;
      margin-bottom: 8px; }
    .listen-share-container form p.listen-email input::placeholder {
      color: #58595b; }
    .listen-share-container form .send-mail-button button {
      color: #fff;
      background-color: #615AA8;
      border-color: #615AA8;
      font-family: 'Lato Black';
      font-size: 25px;
      text-transform: uppercase;
      border-radius: 0px;
      width: 175px;
      height: 63px;
      letter-spacing: 1px; }
  .listen-share-container .listen-in-header {
    border-bottom: none; }
    .listen-share-container .listen-in-header h1 {
      font-size: 24px;
      font-family: lato black;
      color: #cdc6e9; }
    .listen-share-container .listen-in-header button.close {
      position: absolute;
      top: 5px;
      right: 10px;
      color: #000;
      font-size: 33px;
      opacity: 1; }

.select2-container--default .select2-results__option {
  color: #fff !important;
  background: #615aa8;
  text-align: center;
  font-size: 14px;
  font-family: "Lato Regular";
  font-weight: bold;
  position: relative; }

.select2-container--default .select2-results__option:last-child {
  border-bottom: none; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #615aa8 !important; }

.select2-container--default .select2-results__option[aria-disabled=true] {
  display: none; }

input.select2-search__field {
  display: none; }

.select2-search--dropdown {
  padding: 0 !important; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  background: url(../images/dropdown.png) no-repeat right;
  height: 20px !important;
  width: 35px !important;
  top: 10px !important;
  right: 5px !important; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none; }

.select2-container--default .select2-results__option:before {
  content: "";
  border-bottom: 1px solid #fff;
  width: 117px;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 2px; }

.select2-container--default .select2-results__option:last-child::before {
  content: none; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #615aa8 !important; }

.select2-results__option[aria-selected]:last-child {
  border-bottom: none !important; }

/*sunil css ends*/
@media screen and (max-width: 767px) {
  .select2-container {
    width: 174.984px !important; }

  .webrtc-copyright .Webrtc-r-side {
    padding-right: 0px;
    text-align: center;
    margin-bottom: 10px; }

  .webrtc-copyright p {
    color: #fff;
    font-size: 17px;
    margin-bottom: 5px;
    text-align: center; }

  .listen-share-container {
    padding: 0px; }
    .listen-share-container form {
      padding: 15px; }
      .listen-share-container form p.listen-desc {
        font-size: 16px;
        font-family: lato regular;
        color: #58595b;
        margin-bottom: 20px; }
      .listen-share-container form p.listen-email input {
        width: 97%;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 8px; }
      .listen-share-container form p.listen-email input::placeholder {
        color: #58595b; }
      .listen-share-container form .send-mail-button button {
        width: 40%;
        height: 50px;
        font-size: 15px;
        padding: 0px; }
    .listen-share-container .listen-in-header {
      border-bottom: none; }
      .listen-share-container .listen-in-header h1 {
        font-size: 24px;
        font-family: lato black;
        color: #cdc6e9; }
      .listen-share-container .listen-in-header button.close {
        position: absolute;
        top: 5px;
        right: 10px;
        color: #000;
        font-size: 33px;
        opacity: 1; }

  .screen-share-container {
    padding: 0px; }
    .screen-share-container form {
      padding: 15px; }
      .screen-share-container form p.share-radio {
        border: 1px solid #58595b;
        padding: 10px;
        margin-bottom: 2px;
        font-size: 16px;
        font-family: lato regular;
        color: #58595b;
        margin-right: 0px; }
        .screen-share-container form p.share-radio input {
          margin-right: 10px;
          background: transparent; }
        .screen-share-container form p.share-radio input[type=radio]:checked ~ .call {
          border: 5px solid #0DFF92; }
      .screen-share-container form p.share-checkbox {
        margin-top: 15px;
        color: #58595b;
        font-size: 16px;
        font-family: lato regular;
        padding: 10px; }
        .screen-share-container form p.share-checkbox input {
          margin-right: 10px;
          background: transparent; }
      .screen-share-container form p.share-button {
        display: inline;
        margin-right: 20px; }
        .screen-share-container form p.share-button button {
          width: 40%;
          height: 50px;
          font-size: 15px;
          padding: 0px;
          margin-top: 0px; }
    .screen-share-container .share-screen-header {
      border-bottom: none;
      padding: 0px;
      padding-bottom: 0px; }
      .screen-share-container .share-screen-header h1 {
        font-size: 24px;
        font-family: lato black;
        color: #cdc6e9;
        padding: 15px; }
      .screen-share-container .share-screen-header p#screen-share-label {
        font-size: 16px;
        color: #615aa8;
        font-family: lato regular; }
      .screen-share-container .share-screen-header button.close {
        position: absolute;
        top: 5px;
        right: 10px;
        color: #000;
        font-size: 33px;
        opacity: 1; }

  .custom-padding-for-radio .right-remove-padding {
    padding-right: 15px !important; }
  .custom-padding-for-radio .left-remove-padding {
    padding-left: 15px !important; }
  .custom-padding-for-radio .rate-radio-group {
    padding-left: 15px !important; }

  .registration-modal-container .rate-negotiable-options span {
    width: 25% !important; }

  .webrtc-timer-shared .timer-bg-white .row #features-more li {
    width: 50% !important; } }
@media (max-width: 768px) and (min-width: 767px) {
  .sub-expertise-custom-updated-new.sign-up span.multiselect-selected-text, .sub-expertise-custom-updated-new.search.search-select span.multiselect-selected-text {
    font-size: 18px; } }
@media (max-width: 1024px) and (min-width: 768px) {
  .listen-share-container {
    padding: 0px; }
    .listen-share-container form {
      padding: 15px; }
      .listen-share-container form p.listen-desc {
        font-size: 16px;
        font-family: lato regular;
        color: #58595b;
        margin-bottom: 10px; }
      .listen-share-container form p.listen-email input {
        width: 97%;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 8px; }
      .listen-share-container form p.listen-email input::placeholder {
        color: #58595b; }
      .listen-share-container form .send-mail-button button {
        width: 30%;
        height: 50px;
        font-size: 15px;
        padding: 0px; }
    .listen-share-container .listen-in-header {
      border-bottom: none; }
      .listen-share-container .listen-in-header h1 {
        font-size: 24px;
        font-family: lato black;
        color: #cdc6e9; }
      .listen-share-container .listen-in-header button.close {
        position: absolute;
        top: 5px;
        right: 10px;
        color: #000;
        font-size: 33px;
        opacity: 1; }

  .screen-share-container {
    padding: 0px; }
    .screen-share-container form {
      padding: 15px; }
      .screen-share-container form p.share-radio {
        border: 1px solid #58595b;
        padding: 10px;
        margin-bottom: 2px;
        font-size: 16px;
        font-family: lato regular;
        color: #58595b;
        margin-right: 0px; }
        .screen-share-container form p.share-radio input {
          margin-right: 10px;
          background: transparent; }
        .screen-share-container form p.share-radio input[type=radio]:checked ~ .call {
          border: 5px solid #0DFF92; }
      .screen-share-container form p.share-checkbox {
        margin-top: 15px;
        color: #58595b;
        font-size: 16px;
        font-family: lato regular;
        padding: 10px; }
        .screen-share-container form p.share-checkbox input {
          margin-right: 10px;
          background: transparent; }
      .screen-share-container form p.share-button {
        display: inline;
        margin-right: 20px; }
        .screen-share-container form p.share-button button {
          width: 40%;
          height: 50px;
          font-size: 15px;
          padding: 0px;
          margin-top: 0px; }
    .screen-share-container .share-screen-header {
      border-bottom: none;
      padding: 0px;
      padding-bottom: 0px; }
      .screen-share-container .share-screen-header h1 {
        font-size: 24px;
        font-family: lato black;
        color: #cdc6e9;
        padding: 15px; }
      .screen-share-container .share-screen-header p#screen-share-label {
        font-size: 16px;
        color: #615aa8;
        font-family: lato regular; }
      .screen-share-container .share-screen-header button.close {
        position: absolute;
        top: 5px;
        right: 10px;
        color: #000;
        font-size: 33px;
        opacity: 1; }

  .webrtc-timer-shared .timer-bg-white .row #features-more li {
    width: 100%; }

  .sub-expertise-custom-updated-new.sign-up span.multiselect-selected-text, .sub-expertise-custom-updated-new.search.search-select span.multiselect-selected-text {
    font-size: 18px; } }
@media only screen and (min-width: 1025px) {
  .img-box {
    overflow: hidden;
    max-height: 585px; }

  .bx-wrapper {
    max-width: 100% !important; }

  .network-stats-share-container .modal-header.network-stats-in-header {
    height: 600px;
    overflow-y: scroll;
    width: 94%;
    display: block; } }
@media (max-width: 1532px) and (min-width: 1070px) {
  .btn-box h4 {
    height: 140px; } }
@media (max-width: 1069px) and (min-width: 992px) {
  .btn-box h4 {
    height: 174px; } }
@media (max-width: 1565px) and (min-width: 1366px) {
  .webrtc-timer-shared .timer-bg-white .row #features-more li a {
    font-size: 13px; }

  .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-action-icons-wrapper a {
    width: 40px; }

  .webrtc-timer-shared .timer-bg-white .row #features-more li {
    width: 100%; } }
@media (max-width: 1365px) and (min-width: 1025px) {
  .webrtc-timer-shared .timer-bg-white .btn-lg, .webrtc-timer-shared .timer-bg-white .row .box-2-btn .dropdown button, .webrtc-timer-shared .timer-bg-white .row .box-2-btn .dropdown, .webrtc-timer-shared .timer-bg-white .row #features-more li a {
    font-size: 9px; }

  .webrtc-timer-shared .timer-bg-white .row #features-more li {
    width: 100%; }

  .webrtc-timer-shared .timer-bg-white .row .box-2-btn .dropdown {
    height: 35px; }

  .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-action-icons-wrapper a {
    width: 30px; } }
@media (max-width: 1700px) and (min-width: 1566px) {
  .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-action-icons-wrapper a {
    width: 46px; } }
.about-image-information-container.homepage-about-banner-new .bx-wrapper {
  background: transparent; }

ul.new-extra-timer {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0px;
  width: 100%; }
  ul.new-extra-timer li {
    width: 50%;
    float: left;
    font-size: 16px;
    color: #fff;
    font-weight: bold; }
  ul.new-extra-timer li:last-child {
    font-size: 14px; }

/*changes on 12/01/2017*/
.second-laguage-box-new-languages1 .btn-group > .btn:first-child {
  width: 100%;
  margin-bottom: 5px;
  font-size: 21px;
  padding: 15px 20px;
  background: #fff;
  border: 1px solid #231F20;
  box-sizing: border-box;
  font-family: 'Lato Regular';
  color: #58595B;
  background: url(../images/down-arrow.png) no-repeat right;
  -webkit-appearance: none;
  text-align: left;
  border-radius: 0px; }

select#languages1 {
  -webkit-appearance: none; }

.second-laguage-box-new-languages1 .btn-group {
  width: 100%; }

.second-laguage-box-new-languages1 .btn-group ul {
  width: 100%;
  border-radius: 0px;
  border: 1px solid black; }

.second-laguage-box-new-languages1 .btn-group ul li {
  padding: 5px 0px; }

.second-laguage-box-new-languages1 .btn-group ul li a {
  padding: 0;
  color: #58595B;
  font-size: 20px; }

.second-laguage-box-new-languages1 .btn-group ul label {
  width: 100%;
  text-transform: capitalize;
  font-size: 23px;
  padding-left: 20px;
  margin: 2px 0px; }

.second-laguage-box-new-languages1 .btn-group ul input[type=checkbox] {
  float: right; }

.second-laguage-box-new-languages1 .btn-group > .btn:first-child:after {
  display: none; }

.sub-expertise-custom-updated-new .btn-group {
  width: 100%; }

.sub-expertise-custom-updated-new .btn-group ul {
  width: 100%;
  border-radius: 0px;
  border: 1px solid black; }

.sub-expertise-custom-updated-new .btn-group ul li {
  padding: 5px 0px; }

.sub-expertise-custom-updated-new .btn-group ul li a {
  padding: 0;
  color: #58595B;
  font-size: 20px; }

.sub-expertise-custom-updated-new .btn-group ul li label {
  width: 100%;
  text-transform: capitalize;
  font-size: 23px;
  padding-left: 20px; }

.sub-expertise-custom-updated-new .btn-group ul input[type=checkbox] {
  float: right; }

.sub-expertise-custom-updated-new .btn-group > .btn:first-child {
  width: 100%;
  margin-bottom: 15px;
  font-size: 21px;
  padding: 15px 20px;
  background: #fff;
  border: 1px solid #231F20;
  box-sizing: border-box;
  font-family: 'Lato Regular';
  color: #58595B;
  background: url(../images/down-arrow.png) no-repeat right;
  -webkit-appearance: none;
  text-align: left;
  border-radius: 0px; }

.sub-expertise-custom-updated-new .btn-group > .btn:first-child:after {
  display: none; }

@media (max-width: 1024px) and (min-width: 768px) {
  .second-laguage-box-new-languages1 .btn-group > .btn:first-child {
    padding: 11px; }

  .sub-expertise-custom-updated-new.sign-up span.multiselect-selected-text {
    font-size: 18px; } }
@media (max-width: 767px) and (min-width: 374px) {
  .sub-expertise-custom-updated-new.sign-up span.multiselect-selected-text, .sub-expertise-custom-updated-new.search.search-select span.multiselect-selected-text {
    font-size: 12px; } }
@media (max-width: 373px) and (min-width: 310px) {
  .sub-expertise-custom-updated-new.sign-up span.multiselect-selected-text, .sub-expertise-custom-updated-new.search.search-select span.multiselect-selected-text {
    font-size: 11px; } }
.no-after:after {
  content: none !important; }

/*# sourceMappingURL=style.css.map */
