/*contacts page css starts*/
.main-wrapper-contacts-page{
    padding-left: 25px;
    h1{
	    font-family: "Lato Regular";
	    font-size: 22px;
	    font-weight: bold;
	    color: #615aa8;
	    padding: 25px 25px 10px;
    }
	.contacts-wrapper-box{
		.upper-layer-box{
			background: #a697ff;
			padding: 10px;
			display: flex;
			.upper-layer-icons{
			    width: 18%;
			    color: #fff;
			    font-size: 20px;
			    font-family: "Lato Regular";
			    font-weight: bold;
				a{
				    width: 16%;
    				display: inline-block;
					.img-2, .dark2, .img-1, .dark1, .dark3, .dark4, .dark5, .dark6, .img-3, .img-4, .img-5, .img-6
					{ max-width: 100%; background-size: 100%; background-image: url('../images/contacts.png'); }
					.img-2 { background-position: 0 0%; background-size: 100%; }
					.dark2 { background-position: 0 8.450704%; background-size: 102.857143%; }
					.img-1 { background-position: 0 16.809117%; background-size: 128.571429%; }
					.dark1 { background-position: 0 26.210826%; background-size: 128.571429%; }
					.dark3 { background-position: 0 35.612536%; background-size: 128.571429%; }
					.dark4 { background-position: 0 45.014245%; background-size: 128.571429%; }
					.dark6 { background-position: 0 54.415954%; background-size: 128.571429%; }
					.img-3 { background-position: 0 63.276836%; background-size: 144%; }
					.img-4 { background-position: 0 71.751412%; background-size: 144%; }
					.img-5 { background-position: 0 81.375358%; background-size: 144%; }
					.img-6 { background-position: 0 90.112994%; background-size: 144%; }
					.dark5 { background-position: 0 100%; background-size: 144%; }
				}
				a.clickable-edit{
					.dark1,.dark2,.dark3,.dark4,.dark5,.dark6{
						display: none;
					}
				}
				a.clickable-edit.active{
					.img-1,.img-2,.img-3,.img-4,.img-5,.img-6{
						display: none;
					}
					.dark1,.dark2,.dark3,.dark4,.dark5,.dark6{
						display: inline-block;
					}
				}
				a.search-icon-contacts{
					.d-none{
						display: block !important;
						div#wrap{
							height:auto;
							input#search_submit{
								background: transparent;
							}
							input#search-2{
								height:35px;
							}
						}
					}
					
				}
			}
			.upper-layer-icons:first-child{
			    width: 25% !important;
			    padding-left: 7px;
			}
		}
		.botttom-page-count{
		    margin-bottom: 25px;
    		margin-top: 16px;    		
		}
		.contacts-scroll-wrapper{
			max-height: 700px;
			overflow-y: scroll;
			.middle-layer-box{
		        padding: 20px 10px;
			    display: flex;
			    width: 100%;
		        font-family: "Lato Regular";
		        font-size: 18px;
	            color: #a6a8ab;	            
    			background: rgba(199, 194, 230, 0.3);
    			.middle-layer-headings-first{
					width: 25% !important;
				    padding-left: 7px;
    			}
    			.middle-layer-headings{
    				width:18%;
    			}
			}
			.contacts-layer-box-odd, .contacts-layer-box-even{
				padding: 10px;
			    display: flex;
			    width: 100%;
		        font-family: "Lato Regular";
		        font-size: 18px;
	            color: #615aa8;	            
    			background: rgba(241, 241, 242, 0.3);
    			align-items: center;
    			div{
    				width:18%;
    				span.time-contacts{
    					padding-left:10px;
    				}
    				a{
				  		width: 35%;
						display: inline-block;
    					.img-8, .img-7
						{ max-width: 100%; background-size: 100%; background-image: url('../images/edit-delete-contacts.png'); 
						}
 						.img-7 { background-position: 0 0%; background-size: 100%; }
						.img-8 { background-position: 0 100%; background-size: 100%; }
    				}
    			}
    			.contact-layer-edits-deletes{
    				padding-left:8px;
    			}
    			.contact-layer-thumb{
    				width: 25% !important;
				    padding-left: 7px;
				    text-align: center;
				    span{
				    	width: 40px;
				    	display: inline-block;
				    	input.edit-radio, input.select-checkbox, input.delete-current-row{
					    	margin-right:30px;
					    }   
				    }
					    			
				    img:last-child{
				    	vertical-align: bottom;
   						padding-left: 5px;
				    } 
				}
    			.contact-layer-time.active-schedule{
				    font-size: 20px;
				    font-family: "Lato Regular";
				    font-weight: bold;
				    color: #a697ff;
    			}
    			.contact-layer-time.inactive-schedule{
					font-size: 18px;
				    font-family: "Lato Regular";
				    color: #6d6e70;
    			}
			}
			.contacts-layer-box-even{
				background: rgba(199, 194, 230, 0.3);
			}
			.contacts-delete-layer{
				a.delete-text{
					display: none;
				}
			}
			.contacts-delete-layer.active{
				a.delete-text{
					display: inline-block;
					font-size: 18px;
    				color: #615aa8;
				}
			}
		}
		.call-status-boxes{
		    margin: 20px 10px 10px;
		    font-size: 18px;
		    font-family: "Lato Regular";
		    color: #615aa8;
		    span{
		    	margin-right: 1%;
		    	img{
		    		padding-right: 15px;
		    	}
		    }
		}
		.botttom-page-count{
			.bottom-page-number{
			    width: 75%;
			    text-align: right;
			    padding-right: 5%;
			    a{
		    	    color: #fff;
				    border-right: 1px solid #fff;
				    padding-left: 9px;
				    padding-right: 13px;
				    display: inline-block;
				    height: 17px;
				    line-height: 0.9;
			    }
			    a:last-child{
			    	border-right:none;
			    }
			    a:first-child{
			    	color:#615aa8;
			    }
			}
		}
	}
	span.tooltipstext{
	    visibility: hidden;
	    width: auto;
	    background-color: black;
	    color: #fff;
	    text-align: center;
	    border-radius: 6px;
	    padding: 2px 10px;
	    position: absolute;
	    z-index: 1;
	    top: 35px;
	    left: 0;
	    font-size: 12px;
	}
	
}
.edit-profile-container{
   	padding: 25px 50px 24px 50px;
    .edit-profile-in-header{
    	border-bottom: none;
    	button.close{
		    position: absolute;
		    top: 5px;
		    right: 10px;
		    color: #000;
		    font-size: 33px;
		    opacity: 1;
    	}
    	h1{
		    font-size: 24px;
		    font-family: "lato black";
		    color: #cdc6e9;
		    margin-left: 10px;
    	}
    }
    form{
    	padding:15px;
    	p{
    		input, select{
    			padding:15px;
    			border:1px solid #999;
    			width:100%;
    			font-size: 16px;
			    font-family: "Lato Regular";
			    color: #58595b;
    		}
    		::placeholder{
			    font-size: 16px;
			    font-family: "Lato Regular";
			    color: #58595b;
    		}
    		.intl-tel-input{
    			width:100%;
    		}
    	}
    	button{
		    color: #fff;
		    background-color: #615AA8;
		    border-color: #615AA8;
		    font-family: "Lato Black";
		    font-size: 25px;
		    text-transform: uppercase;
		    border-radius: 0px;
		    width: 25%;
		    padding:15px;
		    letter-spacing: 1px;
		    margin-right: 1%;
    	}
    }
}

.main-wrapper-contacts-page{
	.contacts-wrapper-box{
		.upper-layer-box.botttom-page-count{
			.upper-layer-icons{
				width:19% !important;
			}
		}
	}
	.circle-box-image{
	    position: relative;
		display: inline;
	}
	.circle-box-image:after{
	    content: 'A';
	    position: absolute;
	    bottom: 0;
	    background: red;
	    height: 20px;
	    width: 20px;
	    line-height: 20px;
	    color: #000;
	    border-radius: 50%;
	    left: 80%;
	    font-size: 10px;
	    font-family:"Lato Regular";
	    top: 51%;
	    font-weight: bold;	 
	}
	.circle-box-image.green:after{
		background: #3dff53;
	}
	.circle-box-image.yellow:after{
		background: #f0f700;
		content:'B';
	}
	.circle-box-image.orange:after{
		background: #e74600;
		content:'N';
		color:#fff;
	}
	.circle-box-image.gray:after{
		background: #999999;
		content:'I';
		color:#fff;
	}
	.bottom-circle-box-image{
		span{
			content: 'A';
		    background: #3dff53;
		    height: 20px;
		    width: 20px !important;
		    line-height: 20px;
		    color: #000;
		    border-radius: 50%;
		    text-align: center;
		    font-size: 10px;
		    font-family: "Lato Regular";
		    display: inline-block;
		    font-weight: bold;
		    margin-right: 10px !important;
		}
	}
	.bottom-circle-box-image.orange{
		span{
			content:'N';
			background: #e74600;
			color:#fff;
		}
	}
	.bottom-circle-box-image.gray{
		span{
			background: #999999;
			content:'I';
			color:#fff;
		}
	}
	.bottom-circle-box-image.yellow
	{
		span{
			content:'B';
			background: #f0f700;
		}
	}
}
.delete-contacts-container{
	padding: 25px 10px 30px 50px;
	.edit-profile-in-header{
	    border-bottom: none;
	    padding: 0px;
	    padding-bottom: 15px;
	    button.close{
    	    position: absolute;
		    top: 5px;
		    right: 10px;
		    color: #000;
		    font-size: 33px;
		    opacity: 1;
	    }
	    h1{
    	    font-size: 24px;
		    font-family: "lato black";
		    color: #cdc6e9;
	    }
	}
	form{
		.end-session-desc{
		    font-size: 16px;
		    font-family: "lato regular";
		    color: #58595b;
		    margin-bottom: 10px;
		}
		.yes-end-session-button, .no-end-session-button{
		    width: 30%;
		    display: inline;
		    margin-bottom: 0px;
		    button{
			    color: #fff;
			    background-color: #615AA8;
			    border-color: #615AA8;
			    font-family: "Lato Black";
			    font-size: 25px;
			    text-transform: uppercase;
			    border-radius: 0px;
			    width: 175px;
			    height: 63px;
			    letter-spacing: 1px;
			    margin-top: 20px;
			    margin-right: 15px;
		    }
		}
	}
}
/*contacts page css ends*/
/*enterprise contacts css starts*/
.main-wrapper-enterprise-contact-page{
    .upper-layer-box{
    	.upper-layer-icons{
    		width:16% !important;
    	}
    	.external-contacts-text{
		    width: 25% !important;
    	}
    }
    .middle-layer-box{
    	.middle-layer-headings{
    		width:16% !important;
    	}
    	.external-extra-contacts{
    		width:25% !important;
    	}
    }
    .contacts-layer-box-odd, .contacts-layer-box-even{
    	div{
		    width:16% !important;
    	}
    	.contact-layer-external-contacts{
    		width:25% !important;
    	}
    	.contact-layer-time.active-schedule, .contact-layer-time.inactive-schedule{
    		font-size:16px !important;
    	}
	}
	div#wrap{
		input#search-2{
			padding-right: 50px;
		}
	} 
}
/*enterprise contacts css ends*/



.draw-main-section{
	flex-basis:70%;
	display: flex;
	padding-top: 18px;
	.draw-left-wraper{
	    display: flex;
		flex-basis: 70%;
		.left-image-draw{
		    width: 100%;
		    a{
		    	display: block;
		    }
		}
	}
	.draw-right-wrapper{
		justify-content: flex-end;
	 	margin-right: 15px;
 	    display: flex;
	    flex-basis: 30%;
	}
}
.conference-time-shared{
	.conference-panel-default{
		overflow-y: scroll;
	}
}
.my-profile-share-container{
    padding: 25px 10px 50px 50px;
    padding-bottom: 34px;
    .my-profile-in-header{
	    border-bottom: none;
	    padding: 0px;
	    padding-bottom: 15px;
	    button.close{
		    position: absolute;
		    top: 5px;
		    right: 10px;
		    color: #000;
		    font-size: 33px;
		    opacity: 1;
	    }
	    h1{
    	    font-size: 24px;
		    font-family: "lato black";
		    color: #cdc6e9;
	    }
    }
    form{
    	margin-top: 40px;
    	label{
		    font-size: 16px;
		    color: #929397;
		    font-family: "Lato Regular";
		    margin-bottom: 0;
    	}
    	::placeholder{
    		font-size: 20px !important;
    		color: #59595b !important;
    		font-family: "Lato Regular" !important;
    	}
    	input{
		    border: none;
		    border-bottom: 1.5px solid #000;
		    border-radius: 0;
		    padding-left: 0;
		    margin-bottom: 25px;
		    font-size: 20px !important;
    		color: #59595b !important;
    		font-family: "Lato Regular" !important;
    	}
    	.form-control:focus{
		    border-color: #000;
    	}
    	.browse-btn{
		    margin: 10px 0px 20px 0px;
		    .profile-image-thumb{
		    	span{
	    		    font-size: 20px;
				    font-family: "Lato Regular";
				    color: #58595B;
		    	}
		    	span.upld_img_btn{
	    		    position: relative;
				    overflow: hidden;
				    margin-right: 20px;
				    button.btn.btn-secondary.btn-sm{
						color:#fff;
						background-color: #615AA8;
						border-color: #615AA8;
						border-radius: 0px;
						margin-left: 15px;
						width: 100px;
						height: 40px;
				    }
				    input#inputFile1{
						position: absolute;
						top: 0;
						right: 0;
						min-width: 100%;
						min-height: 100%;
						font-size: 100px;
						text-align: right;
						filter: alpha(opacity=0);
						opacity: 0;
						outline: none;
						background: white;
						cursor: inherit;
						display: block;
				    }
		    	}
		    	span.upld_img{
		    		img#image_upload_preview1{
	    			    width: 120px;
    					height: 120px;
		    		}
		    	}
		    }
    	}
    	.profile-button-groups{
    		margin-top: 40px;
    		button{
				color: #fff;
				background-color: #615AA8;
				border-color: #615AA8;
				font-family: "lato black";
				font-size: 30px;
				text-transform: uppercase;
				border-radius: 0px;
				width: 30.5%;
				padding: 25px;
				margin-right: 16px;
				letter-spacing: 2px;
    		}
    	}
    }
    
}

.conference-main-container{
	.remote-local-share-file{
		.local-share-file-wrapper{
			display: flex;
		    overflow-y: hidden !important;
			.conference-remote-wrapper-first, .conference-remote-wrapper-second{
			    flex-basis: 50%;
		        overflow-y: scroll;
		        .video-inner-wrapper-odd{
		        	.video-type{
	        		    background: #c9c2e5;
					    font-size: 14px;
					    font-weight: bold;
					    color: #000000;
					    padding: 10px;
					    font-family: "Lato Regular";
				        padding-left: 13px;
			            padding-bottom: 5px;
    					padding-top: 5px;
    					box-shadow: inset 0px 22px 31px -11px rgba(0,0,0,0.24);
		        	}
		        	.video-image-wrapper{
		        		width:100%;
		        		img{
		        			width:100%;
		        		}
		        	}
		        	.video-action-icons-wrapper{
		        		background: #cdc6e9;
		        		padding: 1px;
					    color: #fff;
					    justify-content: space-around;
					    padding-left: 6px;
					    a{
				    	   	cursor: pointer;
						    display: inline-block;
						    width: auto;
						    text-align: center;
						    .img1, .img2, .img3, .img4, .img5,.img6, .img7{ 
								max-width: 100%; background-size: 100%; background-image: url('../images/sprite.png'); 
							}
							.img1 { 
								background-position: 0 0%; background-size: 100%; 
							}
							.img2 { 
								background-position: 0 16.666667%; background-size: 100%; 
							}
							.img3 { 
								background-position: 0 33.333333%; background-size: 100%; 
							}
							.img4 { 
								background-position: 0 50%; background-size: 100%; 
							}
							.img5 { 
								background-position: 0 66.666667%; background-size: 100%; 
							}
							.img6 { 
								background-position: 0 83.333333%; background-size: 100%; 
							}
							.img7 { 
								background-position: 0 100%; background-size: 100%; 
							}
					    }
		        	}
		        }
		        .video-inner-wrapper-even{
		        	.video-type{
			        	font-size: 14px;
					    font-weight: bold;
					    color: #000000;
					    background: #a596f8;
					    padding: 10px;
					    font-family: "Lato Regular";
					    padding-left: 13px;
					    padding-bottom: 5px;
    					padding-top: 5px;
    					box-shadow: inset 0px 22px 31px -11px rgba(0,0,0,0.24);
				    }
				    .video-image-wrapper{
		        		width:100%;
		        		img{
		        			width:100%;
		        		}
		        	}
		        	.video-action-icons-wrapper{
		        		background: #aa9bff;
	        		    padding: 1px;
					    color: #fff;
					    justify-content: space-around;
					    padding-left: 6px;
					    a{
						    cursor: pointer;
						    display: inline-block;
						    width: auto;
						    text-align: center;
						    .img1, .img2, .img3, .img4, .img5,.img6, .img7{ 
								max-width: 100%; background-size: 100%; background-image: url('../images/sprite.png'); 
							}
							.img1 { 
								background-position: 0 0%; background-size: 100%; 
							}
							.img2 { 
								background-position: 0 16.666667%; background-size: 100%; 
							}
							.img3 { 
								background-position: 0 33.333333%; background-size: 100%; 
							}
							.img4 { 
								background-position: 0 50%; background-size: 100%; 
							}
							.img5 { 
								background-position: 0 66.666667%; background-size: 100%; 
							}
							.img6 { 
								background-position: 0 83.333333%; background-size: 100%; 
							}
							.img7 { 
								background-position: 0 100%; background-size: 100%; 
							}	
					    }
		        	}
		        }
			}
			.conference-remote-wrapper-second{
		    	.video-type{
		    		padding-left: 4px !important;
		    	}
		    }
		}
	}
}
.conference-timer-wrapper{
	.webrtc-timer-shared{
		.timer-bg-white.backround-change-color{
			.panel.panel-default{
				overflow-y: hidden;
			}
			.panel.panel-default.active{
				overflow-y: scroll;
			}
		}
		.video-remote-section-webrtc{
			.video-inner-wrapper{
				.video-action-icons-wrapper{
				    
				}
			}
		}
	}
}

@media screen and (min-width: 1025px){
	.webrtc-main-wrapper{
	    display: flex;
	    .timer-wrapper{
	    	flex-basis: 23%;
	    }
	    .remote-local-share-file{
    	    flex-basis: 77%;
    		display: flex;
    		.local-share-file-wrapper{
			    flex-basis: 50%;
			    overflow-y: scroll;
    		}
    		.remote-share-file-wrapper{
			    flex-basis: 50%;
			    overflow-y: scroll;
    		}
    		.conference-page-show-and-hide-desktop.active{
    			display: none;
    		}
	    }
	    .remote-local-share-file.active{
	    	display: none;
	    }
	    .draw-main-section{
	    	flex-basis:77%;
	    	display: none;
	    	padding-top: 18px;
	    	.draw-left-wraper{
    		    display: flex;
    			flex-basis: 70%;
    			.left-image-draw{
				    width: 100%;
				    a{
				    	display: block;
				    }
    			}
	    	}
	    	.draw-right-wrapper{
	    		justify-content: flex-end;
			 	margin-right: 15px;
		 	    display: flex;
			    flex-basis: 30%;
	    	}
	    }
	    .draw-main-section.active{
			display: flex;
		}
		.draw-main-section-conference-page.active{
			flex-basis: 50%;
		}
	}
	.select2-dropdown{
		border-bottom: none;
	}
	div#reconnect-modal, div#end-session-modal, div#delete-contacts-modal{
	    max-width: 545px;
    	margin: 0 auto;
	}
	.my-profile-share-container{
		form{
			input{
			    width: 87%;
			}
		}
	}
	.conference-main-container{
		.conference-remote-wrapper-first, .conference-remote-wrapper-second{
			.video-action-icons-wrapper{
				text-align: center;
				a{
				    width: 28px !important;
				}
			}
		}
		
	}
	.webrtc-timer-shared{
		.video-remote-section-webrtc{
			.video-inner-wrapper{
				.video-image-wrapper{
				 	max-height: 383px;
    				overflow: hidden;
				}
			}
		}
	} 
	.main-wrapper-contacts-page{
		.contacts-wrapper-box{
			.upper-layer-box{
			    padding-right: 32px;
			}
		}
		span.tooltipstext{
		    visibility: hidden;
		    width: auto;
		    background-color: black;
		    color: #fff;
		    text-align: center;
		    border-radius: 6px;
		    padding: 2px 10px;
		    position: absolute;
		    z-index: 1;
		    top: 35px;
		    left: 0;
		    font-size: 12px;
		}
		span.tooltipstext2{
			width:100px;
		}
		.tooltips:hover .tooltipstext{
	    	visibility: visible;
		}
		.tooltips{
			position: relative;
		}
	} 

}
@media screen and (max-width: 767px){
	.webrtc-shared-file, .webrtc-remote-shared-file{
		.local-share-image-box{
		    height: auto;
    		overflow-y: auto;
		}
	}
	.select2-dropdown{
		border-bottom: none;
	}
	.draw-main-section{
    	display:none;
    }
    .my-profile-share-container{
    	padding-left:15px;
    	padding-right:15px;
		form{
			.profile-button-groups{
				button{
					width: 100%;
				    margin-top: 7px;
				}
			}
			.browse-btn{
				.profile-image-thumb{
					span{
						display: block;
						margin-top: 20px;
						text-align: center;
					}
					span.upld_img{
						margin-top: 30px;
					}
				}
			}
		}
    }
    .conference-main-container{
    	.remote-local-share-file{
    		display: inline-block;
    		width: 100%;
    		.local-share-file-wrapper{
    			display: block;
    			.conference-remote-wrapper-first, .conference-remote-wrapper-second{
    				.video-inner-wrapper-odd, .video-inner-wrapper-even{
    					.video-action-icons-wrapper{
    						a{
    							width:13%;
    						}
    					}
    				}
    			}
    		}
    	}
	}
	.webrtc-timer-shared{
		.video-remote-section-webrtc{
			.video-inner-wrapper{
				.video-action-icons-wrapper{
					a{
						width:40px;
					}
				}
			}
		}
	} 
	.main-wrapper-contacts-page{
	    padding: 0;
	    .contacts-wrapper-box{
	    	.upper-layer-box{
    		    flex-wrap: wrap;
    		    .upper-layer-icons{
    		    	display: none;
    		    }
    		    .upper-layer-icons:first-child{
    		    	display: block;
    		    	text-align: center;
    		    	width:100% !important;
    		    }
	    	}
	    	.contacts-scroll-wrapper{
    		    max-height: 100%;
			    overflow-y: hidden;
	   			.contacts-layer-box-odd, .contacts-layer-box-even{
	   				.contact-layer-time.inactive-schedule{
	   					font-size:15px;
	   				}
	   				.contact-layer-time.active-schedule{
	   					font-size: 16px;
	   				}
	   			}
	   			.middle-layer-box{
   					display: none;
   				}
   				.contacts-layer-box-odd, .contacts-layer-box-even{
   					flex-wrap: wrap;
   					padding:14px;
   					.contact-layer-thumb{
					    width: 80% !important;
					    padding-left: 0;
					    margin: 0 auto;
				        margin-bottom: 15px;
				        padding-right: 50px;
   					}
   					div{
					    width: 80%;
    					margin: 0 auto;
    					display: inline-block;
    					.contacts-appended-text{
    						float:left;
    						width:50%;
    					}
    					.contacts-appended-text.different{
    						font-family: "Lato Regular";
						    font-size: 18px;
						    color: #615aa8;
						    font-weight: normal;
    					}
   					}
   					.contact-layer-edits-deletes{
   						padding-left: 0px;
   						position: relative;
				        a{
				        	width:25%;
				        }
   					}
   				}
   				.contacts-delete-layer.active{
   					a.delete-text{
   						position: absolute;
   						top:5px;
   					}
   				}
	    	}
	    	.botttom-page-count{
	    		.bottom-page-number{
    			    text-align: center;
				    width: 100%;
				    padding: 0;
				    margin-top: 30px;
	    		}
	    	}
	    	.call-status-boxes{
    		    padding: 30px 0px 5px 40px;
			    display: inline-block;
			    width: 100%;
			    margin:0;
			    span{
		    	    margin: 0;
				    float: left;
				    width: 50%;
			    }
	    	}
	    }
	} 
	.edit-profile-container{
		padding:15px;
		form{
			button{
			width: 100%;
		    margin: 0 auto;
		    text-align: center;
		    margin-top: 10px;
			}
		}
	}
	.delete-contacts-container{
	    padding-left: 25px;
    	padding-right: 25px;
	}
	.main-wrapper-enterprise-contact-page{
		.contacts-wrapper-box{
			.contacts-scroll-wrapper{
				.contacts-layer-box-odd, .contacts-layer-box-even{
					div{
					    width: 80% !important;
					    .contacts-appended-text{
				    	    width: 50% !important;
					    }
					}
				}
			}
		}
	} 
}

@media (max-width:1024px) and (min-width:768px) {
	.webrtc-main-wrapper{
	    display: flex;
	    .timer-wrapper{
	    	flex-basis: 36%;
	    }
	    .remote-local-share-file{
    	    flex-basis: 64%;
    		display: flex;
    		.local-share-file-wrapper{
			    flex-basis: 50%;
    		}
    		.remote-share-file-wrapper{
			    flex-basis: 50%;
    		}
    		.conference-page-show-and-hide-desktop.active{
    			display: none;
    		}
	    }
	    .draw-main-section{
	    	flex-basis:64%;
	    	display: none;
	    }
	    .draw-main-section.active{
	    	display: flex;
	    }
	}
	.select2-dropdown{
		border-bottom: none;
	}
	.remote-local-share-file.active{
    	display: none;
    }
    .my-profile-share-container{
    	form{
    		input{
    			width:87%;
    		}
		} 
	} 
	.conference-main-container{
		.video-action-icons-wrapper{
			a{
				/*width:11% !important;*/
			}
		} 
	}
	.conference-main-container{
		.remote-local-share-file{
			.conference-local-share-file-wrapper{
				flex-basis: 65%;
			}
			.remote-share-file-wrapper{
				flex-basis: 35%;
			}
		}

	}
	.main-wrapper-contacts-page{
		.contacts-wrapper-box {
			.upper-layer-box{
				.upper-layer-icons{
				    font-size: 18px;
				    a{
				    	width:17%;
				    }
				}
			}
			.contacts-scroll-wrapper{
				.contacts-layer-box-odd, .contacts-layer-box-even{
					.contact-layer-time.active-schedule, .contact-layer-time.inactive-schedule{
						font-size: 16px;
					}
				}
			}
		}
		div#wrap{
			input#search-2{
			    padding-right: 24px
			}
			input[type="text"]:focus{
				width: 178px;
			}
		}
	}
	.main-wrapper-enterprise-contact-page{
		.contacts-wrapper-box{
			.upper-layer-box{
				.upper-layer-icons{
				    font-size: 16px !important;
				    a{
				    	width:18%;
				    }
				}
				.upper-layer-icons:first-child{
					width:30% !important;
				}
			} 
			.contacts-scroll-wrapper{
				.middle-layer-box{
					font-size: 16px !important;
					.middle-layer-headings-first{
					    width: 30% !important;
					}
				}
				.contacts-layer-box-odd, .contacts-layer-box-even{
					font-size: 16px !important;
					.contact-layer-thumb{
						width: 30% !important;
					}
					.contact-layer-time.active-schedule, .contact-layer-time.inactive-schedule{
						font-size: 14px !important;
					}
					.contact-layer-edits-deletes{
						padding-left: 0px;
						a{
							margin-left: 18px;;
						}
					}
				}
				.contacts-delete-layer.active {
					a.delete-text{
					    margin-left: 12px;
					}
				}
			}
		}
		div#wrap{
			input#search-2{
			    padding-right: 24px
			}
			input[type="text"]:focus{
				width: 178px;
			}
		}
	}
	 
}
@media(max-width:768px) and (min-width:767px) {
	.webrtc-main-wrapper{
	    display: block;
	    .timer-wrapper{
	    	display: block;
	    	width:100%;
	    }
	    .remote-local-share-file{
    	    width:100%;
    		display: block;
    		.local-share-file-wrapper{
			    width:100%;
			    display: block;
    		}
    		.remote-share-file-wrapper{
			    width:100%;
			    display: block;
    		}
	    }
	    .draw-main-section{
	    	display:none;
	    }
	}
	.select2-dropdown{
		border-bottom: none;
	}
	.webrtc-copyright{
		.Webrtc-r-side{
			padding-right:0px;
			text-align: right;
		}
	}
	.my-profile-share-container{
    	form{
    		input{
    			width:97%;
    		}
    		.profile-button-groups{
    			button{
				    width: 27%;
				    padding: 16px;
				    margin-right: 10px;
				    font-size: 20px;
    			}
    		}
		} 
	} 
	.conference-main-container{
		.video-action-icons-wrapper{
			a{
				width:13% !important;
			}
		} 
	}
	.main-wrapper-contacts-page{
	    padding: 0;
	    .contacts-wrapper-box{
	    	.upper-layer-box{
				.upper-layer-icons{
				    font-size: 16px !important;
				    a{
				    	width:18%;
				    }
				}
				.upper-layer-icons:first-child{
				    padding-left: 0;
				}
			} 
	    	.contacts-scroll-wrapper{
    		    max-height: 100%;
			    overflow-y: hidden;
	   			.contacts-layer-box-odd, .contacts-layer-box-even{
	   				font-size: 16px;
	   				.contact-layer-time.inactive-schedule, .contact-layer-time.active-schedule{
	   					font-size:14px;
	   				}
	   				.contact-layer-edits-deletes{
	   					text-align: center;
	   				}
	   			}
	   			.contacts-delete-layer.active{
	   				a.delete-text{
   					    display: block;
  						width:100%;
	   				}
	   			}
	   			.middle-layer-box{
	   				font-size: 16px;
	   			}
	    	}
	    }
	    div#wrap{
			input#search-2{
			    padding-right: 24px
			}
			input[type="text"]:focus{
				width: 138px;
			}
		}

	}
	.edit-profile-container{
		form{
			button{
				width:40%;
			}
		}
	}
	.main-wrapper-enterprise-contact-page{
		div#wrap{
			input[type="text"]:focus{
				width: 152px;
			}
		}
		.contacts-wrapper-box {
			.upper-layer-box{
				.upper-layer-icons{
					font-size: 14px !important;
				}
				.upper-layer-icons:first-child{
				    padding-left: 0px;
				}
			}
			.contacts-scroll-wrapper{
				.middle-layer-box, .contacts-layer-box-odd, .contacts-layer-box-even{
					font-size: 14px !important;
					.contact-layer-time.active-schedule, .contact-layer-time.inactive-schedule{
						font-size: 10px !important;
					}
					.contact-layer-edits-deletes{
						a{
						    margin-left: 0px;
						}
					}
					.contact-layer-thumb{
						padding-left:0;
					}
					.middle-layer-headings-first{
						padding-left:0;
					}
				}
				.contacts-delete-layer.active {
					a.delete-text{
				        display: block;
					    text-align: center;
					    width: 100%;
					    margin-left:0;
					}
				}
			}
		}
	}
	.main-wrapper-contacts-page{
		.contacts-wrapper-box{
			.upper-layer-box{
				.upper-layer-icons:first-child{
					width:30% !important;
				}
			}
			.contacts-scroll-wrapper{
				.middle-layer-box{
					.middle-layer-headings-first{
						width:30% !important;
					}
				}
				.contacts-layer-box-odd, .contacts-layer-box-even{
					.contact-layer-thumb{
						width:30% !important;
					}
				} 
			} 
		}
	}
}

.deleteicon, .erasericon, .markericon, .pencilicon, .saveicon, 
.colorpickericon
{ 
	max-width: 100%; background-size: 100%; background-image: url('../images/webrtcdraw.png'); 
}
 
.deleteicon { 
	background-position: 0 0%; background-size: 100%; 
}
.erasericon { 
	background-position: 0 21.201413%; background-size: 100%; 
}
.markericon { 
	background-position: 0 42.402827%; background-size: 100%; 
}
.pencilicon { 
	background-position: 0 63.60424%; background-size: 100%; 
}
.saveicon { 
	background-position: 0 84.805654%; background-size: 100%; 
}
.colorpickericon { 
	background-position: 0 100%; background-size: 134.146341%; 
}
sup{
	font-size: 24px;
	top:0;
}
.my-profile-required-field-msg{
    margin-top: 25px;
    font-size: 16px;
    font-family: "Lato Regular";
    color: #929397;
}
@media (max-width:374px) and (min-width:300px) {
	.main-wrapper-contacts-page{
		.contacts-wrapper-box{
			.contacts-scroll-wrapper{
				.contacts-layer-box-odd, .contacts-layer-box-even{
					div{
					    width: 94%;
					}
					/*.contact-layer-edits-deletes{
						max-width: 65%;
					}*/
				}
			}
			.call-status-boxes{
			    padding: 30px 0px 5px 15px;
			}
		}
	}
	.main-wrapper-enterprise-contact-page{
		.contacts-wrapper-box{
			.contacts-scroll-wrapper{
				.contacts-layer-box-odd, .contacts-layer-box-even{
					div{
						width:94% !important;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1600px){
	.webrtc-main-wrapper{
		.remote-local-share-file{
			flex-basis: 77%;
		}
		.timer-wrapper{
			flex-basis: 23%;
		}
		.draw-main-section{
			flex-basis: 77%;
		}
	}		
} 
.webrtc-main-wrapper{
	.local-share-file-wrapper{
	    background: #bcafff;
	}
}