/*contacts page css starts*/
.main-wrapper-contacts-page {
  padding-left: 25px; }
  .main-wrapper-contacts-page h1 {
    font-family: "Lato Regular";
    font-size: 22px;
    font-weight: bold;
    color: #615aa8;
    padding: 25px 25px 10px; }
  .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box {
    background: #a697ff;
    padding: 10px;
    display: flex; }
    .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons {
      width: 18%;
      color: #fff;
      font-size: 20px;
      font-family: "Lato Regular";
      font-weight: bold; }
      .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a {
        width: 16%;
        display: inline-block; }
        .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .img-2, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .dark2, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .img-1, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .dark1, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .dark3, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .dark4, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .dark5, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .dark6, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .img-3, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .img-4, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .img-5, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .img-6 {
          max-width: 100%;
          background-size: 100%;
          background-image: url("../images/contacts.png"); }
        .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .img-2 {
          background-position: 0 0%;
          background-size: 100%; }
        .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .dark2 {
          background-position: 0 8.450704%;
          background-size: 102.857143%; }
        .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .img-1 {
          background-position: 0 16.809117%;
          background-size: 128.571429%; }
        .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .dark1 {
          background-position: 0 26.210826%;
          background-size: 128.571429%; }
        .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .dark3 {
          background-position: 0 35.612536%;
          background-size: 128.571429%; }
        .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .dark4 {
          background-position: 0 45.014245%;
          background-size: 128.571429%; }
        .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .dark6 {
          background-position: 0 54.415954%;
          background-size: 128.571429%; }
        .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .img-3 {
          background-position: 0 63.276836%;
          background-size: 144%; }
        .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .img-4 {
          background-position: 0 71.751412%;
          background-size: 144%; }
        .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .img-5 {
          background-position: 0 81.375358%;
          background-size: 144%; }
        .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .img-6 {
          background-position: 0 90.112994%;
          background-size: 144%; }
        .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a .dark5 {
          background-position: 0 100%;
          background-size: 144%; }
      .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.clickable-edit .dark1, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.clickable-edit .dark2, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.clickable-edit .dark3, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.clickable-edit .dark4, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.clickable-edit .dark5, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.clickable-edit .dark6 {
        display: none; }
      .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.clickable-edit.active .img-1, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.clickable-edit.active .img-2, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.clickable-edit.active .img-3, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.clickable-edit.active .img-4, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.clickable-edit.active .img-5, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.clickable-edit.active .img-6 {
        display: none; }
      .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.clickable-edit.active .dark1, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.clickable-edit.active .dark2, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.clickable-edit.active .dark3, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.clickable-edit.active .dark4, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.clickable-edit.active .dark5, .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.clickable-edit.active .dark6 {
        display: inline-block; }
      .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.search-icon-contacts .d-none {
        display: block !important; }
        .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.search-icon-contacts .d-none div#wrap {
          height: auto; }
          .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.search-icon-contacts .d-none div#wrap input#search_submit {
            background: transparent; }
          .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a.search-icon-contacts .d-none div#wrap input#search-2 {
            height: 35px; }
    .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons:first-child {
      width: 25% !important;
      padding-left: 7px; }
  .main-wrapper-contacts-page .contacts-wrapper-box .botttom-page-count {
    margin-bottom: 25px;
    margin-top: 16px; }
  .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper {
    max-height: 700px;
    overflow-y: scroll; }
    .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .middle-layer-box {
      padding: 20px 10px;
      display: flex;
      width: 100%;
      font-family: "Lato Regular";
      font-size: 18px;
      color: #a6a8ab;
      background: rgba(199, 194, 230, 0.3); }
      .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .middle-layer-box .middle-layer-headings-first {
        width: 25% !important;
        padding-left: 7px; }
      .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .middle-layer-box .middle-layer-headings {
        width: 18%; }
    .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even {
      padding: 10px;
      display: flex;
      width: 100%;
      font-family: "Lato Regular";
      font-size: 18px;
      color: #615aa8;
      background: rgba(241, 241, 242, 0.3);
      align-items: center; }
      .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd div, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even div {
        width: 18%; }
        .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd div span.time-contacts, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even div span.time-contacts {
          padding-left: 10px; }
        .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd div a, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even div a {
          width: 35%;
          display: inline-block; }
          .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd div a .img-8, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd div a .img-7, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even div a .img-8, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even div a .img-7 {
            max-width: 100%;
            background-size: 100%;
            background-image: url("../images/edit-delete-contacts.png"); }
          .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd div a .img-7, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even div a .img-7 {
            background-position: 0 0%;
            background-size: 100%; }
          .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd div a .img-8, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even div a .img-8 {
            background-position: 0 100%;
            background-size: 100%; }
      .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-edits-deletes, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-edits-deletes {
        padding-left: 8px; }
      .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-thumb, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-thumb {
        width: 25% !important;
        padding-left: 7px;
        text-align: center; }
        .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-thumb span, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-thumb span {
          width: 40px;
          display: inline-block; }
          .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-thumb span input.edit-radio, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-thumb span input.select-checkbox, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-thumb span input.delete-current-row, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-thumb span input.edit-radio, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-thumb span input.select-checkbox, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-thumb span input.delete-current-row {
            margin-right: 30px; }
        .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-thumb img:last-child, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-thumb img:last-child {
          vertical-align: bottom;
          padding-left: 5px; }
      .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-time.active-schedule, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-time.active-schedule {
        font-size: 20px;
        font-family: "Lato Regular";
        font-weight: bold;
        color: #a697ff; }
      .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-time.inactive-schedule, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-time.inactive-schedule {
        font-size: 18px;
        font-family: "Lato Regular";
        color: #6d6e70; }
    .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even {
      background: rgba(199, 194, 230, 0.3); }
    .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-delete-layer a.delete-text {
      display: none; }
    .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-delete-layer.active a.delete-text {
      display: inline-block;
      font-size: 18px;
      color: #615aa8; }
  .main-wrapper-contacts-page .contacts-wrapper-box .call-status-boxes {
    margin: 20px 10px 10px;
    font-size: 18px;
    font-family: "Lato Regular";
    color: #615aa8; }
    .main-wrapper-contacts-page .contacts-wrapper-box .call-status-boxes span {
      margin-right: 1%; }
      .main-wrapper-contacts-page .contacts-wrapper-box .call-status-boxes span img {
        padding-right: 15px; }
  .main-wrapper-contacts-page .contacts-wrapper-box .botttom-page-count .bottom-page-number {
    width: 75%;
    text-align: right;
    padding-right: 5%; }
    .main-wrapper-contacts-page .contacts-wrapper-box .botttom-page-count .bottom-page-number a {
      color: #fff;
      border-right: 1px solid #fff;
      padding-left: 9px;
      padding-right: 13px;
      display: inline-block;
      height: 17px;
      line-height: 0.9; }
    .main-wrapper-contacts-page .contacts-wrapper-box .botttom-page-count .bottom-page-number a:last-child {
      border-right: none; }
    .main-wrapper-contacts-page .contacts-wrapper-box .botttom-page-count .bottom-page-number a:first-child {
      color: #615aa8; }
  .main-wrapper-contacts-page span.tooltipstext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 10px;
    position: absolute;
    z-index: 1;
    top: 35px;
    left: 0;
    font-size: 12px; }

.edit-profile-container {
  padding: 25px 50px 24px 50px; }
  .edit-profile-container .edit-profile-in-header {
    border-bottom: none; }
    .edit-profile-container .edit-profile-in-header button.close {
      position: absolute;
      top: 5px;
      right: 10px;
      color: #000;
      font-size: 33px;
      opacity: 1; }
    .edit-profile-container .edit-profile-in-header h1 {
      font-size: 24px;
      font-family: "lato black";
      color: #cdc6e9;
      margin-left: 10px; }
  .edit-profile-container form {
    padding: 15px; }
    .edit-profile-container form p input, .edit-profile-container form p select {
      padding: 15px;
      border: 1px solid #999;
      width: 100%;
      font-size: 16px;
      font-family: "Lato Regular";
      color: #58595b; }
    .edit-profile-container form p ::placeholder {
      font-size: 16px;
      font-family: "Lato Regular";
      color: #58595b; }
    .edit-profile-container form p .intl-tel-input {
      width: 100%; }
    .edit-profile-container form button {
      color: #fff;
      background-color: #615AA8;
      border-color: #615AA8;
      font-family: "Lato Black";
      font-size: 25px;
      text-transform: uppercase;
      border-radius: 0px;
      width: 25%;
      padding: 15px;
      letter-spacing: 1px;
      margin-right: 1%; }

.main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box.botttom-page-count .upper-layer-icons {
  width: 19% !important; }
.main-wrapper-contacts-page .circle-box-image {
  position: relative;
  display: inline; }
.main-wrapper-contacts-page .circle-box-image:after {
  content: 'A';
  position: absolute;
  bottom: 0;
  background: red;
  height: 20px;
  width: 20px;
  line-height: 20px;
  color: #000;
  border-radius: 50%;
  left: 80%;
  font-size: 10px;
  font-family: "Lato Regular";
  top: 51%;
  font-weight: bold; }
.main-wrapper-contacts-page .circle-box-image.green:after {
  background: #3dff53; }
.main-wrapper-contacts-page .circle-box-image.yellow:after {
  background: #f0f700;
  content: 'B'; }
.main-wrapper-contacts-page .circle-box-image.orange:after {
  background: #e74600;
  content: 'N';
  color: #fff; }
.main-wrapper-contacts-page .circle-box-image.gray:after {
  background: #999999;
  content: 'I';
  color: #fff; }
.main-wrapper-contacts-page .bottom-circle-box-image span {
  content: 'A';
  background: #3dff53;
  height: 20px;
  width: 20px !important;
  line-height: 20px;
  color: #000;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  font-family: "Lato Regular";
  display: inline-block;
  font-weight: bold;
  margin-right: 10px !important; }
.main-wrapper-contacts-page .bottom-circle-box-image.orange span {
  content: 'N';
  background: #e74600;
  color: #fff; }
.main-wrapper-contacts-page .bottom-circle-box-image.gray span {
  background: #999999;
  content: 'I';
  color: #fff; }
.main-wrapper-contacts-page .bottom-circle-box-image.yellow span {
  content: 'B';
  background: #f0f700; }

.delete-contacts-container {
  padding: 25px 10px 30px 50px; }
  .delete-contacts-container .edit-profile-in-header {
    border-bottom: none;
    padding: 0px;
    padding-bottom: 15px; }
    .delete-contacts-container .edit-profile-in-header button.close {
      position: absolute;
      top: 5px;
      right: 10px;
      color: #000;
      font-size: 33px;
      opacity: 1; }
    .delete-contacts-container .edit-profile-in-header h1 {
      font-size: 24px;
      font-family: "lato black";
      color: #cdc6e9; }
  .delete-contacts-container form .end-session-desc {
    font-size: 16px;
    font-family: "lato regular";
    color: #58595b;
    margin-bottom: 10px; }
  .delete-contacts-container form .yes-end-session-button, .delete-contacts-container form .no-end-session-button {
    width: 30%;
    display: inline;
    margin-bottom: 0px; }
    .delete-contacts-container form .yes-end-session-button button, .delete-contacts-container form .no-end-session-button button {
      color: #fff;
      background-color: #615AA8;
      border-color: #615AA8;
      font-family: "Lato Black";
      font-size: 25px;
      text-transform: uppercase;
      border-radius: 0px;
      width: 175px;
      height: 63px;
      letter-spacing: 1px;
      margin-top: 20px;
      margin-right: 15px; }

/*contacts page css ends*/
/*enterprise contacts css starts*/
.main-wrapper-enterprise-contact-page .upper-layer-box .upper-layer-icons {
  width: 16% !important; }
.main-wrapper-enterprise-contact-page .upper-layer-box .external-contacts-text {
  width: 25% !important; }
.main-wrapper-enterprise-contact-page .middle-layer-box .middle-layer-headings {
  width: 16% !important; }
.main-wrapper-enterprise-contact-page .middle-layer-box .external-extra-contacts {
  width: 25% !important; }
.main-wrapper-enterprise-contact-page .contacts-layer-box-odd div, .main-wrapper-enterprise-contact-page .contacts-layer-box-even div {
  width: 16% !important; }
.main-wrapper-enterprise-contact-page .contacts-layer-box-odd .contact-layer-external-contacts, .main-wrapper-enterprise-contact-page .contacts-layer-box-even .contact-layer-external-contacts {
  width: 25% !important; }
.main-wrapper-enterprise-contact-page .contacts-layer-box-odd .contact-layer-time.active-schedule, .main-wrapper-enterprise-contact-page .contacts-layer-box-odd .contact-layer-time.inactive-schedule, .main-wrapper-enterprise-contact-page .contacts-layer-box-even .contact-layer-time.active-schedule, .main-wrapper-enterprise-contact-page .contacts-layer-box-even .contact-layer-time.inactive-schedule {
  font-size: 16px !important; }
.main-wrapper-enterprise-contact-page div#wrap input#search-2 {
  padding-right: 50px; }

/*enterprise contacts css ends*/
.draw-main-section {
  flex-basis: 70%;
  display: flex;
  padding-top: 18px; }
  .draw-main-section .draw-left-wraper {
    display: flex;
    flex-basis: 70%; }
    .draw-main-section .draw-left-wraper .left-image-draw {
      width: 100%; }
      .draw-main-section .draw-left-wraper .left-image-draw a {
        display: block; }
  .draw-main-section .draw-right-wrapper {
    justify-content: flex-end;
    margin-right: 15px;
    display: flex;
    flex-basis: 30%; }

.conference-time-shared .conference-panel-default {
  overflow-y: scroll; }

.my-profile-share-container {
  padding: 25px 10px 50px 50px;
  padding-bottom: 34px; }
  .my-profile-share-container .my-profile-in-header {
    border-bottom: none;
    padding: 0px;
    padding-bottom: 15px; }
    .my-profile-share-container .my-profile-in-header button.close {
      position: absolute;
      top: 5px;
      right: 10px;
      color: #000;
      font-size: 33px;
      opacity: 1; }
    .my-profile-share-container .my-profile-in-header h1 {
      font-size: 24px;
      font-family: "lato black";
      color: #cdc6e9; }
  .my-profile-share-container form {
    margin-top: 40px; }
    .my-profile-share-container form label {
      font-size: 16px;
      color: #929397;
      font-family: "Lato Regular";
      margin-bottom: 0; }
    .my-profile-share-container form ::placeholder {
      font-size: 20px !important;
      color: #59595b !important;
      font-family: "Lato Regular" !important; }
    .my-profile-share-container form input {
      border: none;
      border-bottom: 1.5px solid #000;
      border-radius: 0;
      padding-left: 0;
      margin-bottom: 25px;
      font-size: 20px !important;
      color: #59595b !important;
      font-family: "Lato Regular" !important; }
    .my-profile-share-container form .form-control:focus {
      border-color: #000; }
    .my-profile-share-container form .browse-btn {
      margin: 10px 0px 20px 0px; }
      .my-profile-share-container form .browse-btn .profile-image-thumb span {
        font-size: 20px;
        font-family: "Lato Regular";
        color: #58595B; }
      .my-profile-share-container form .browse-btn .profile-image-thumb span.upld_img_btn {
        position: relative;
        overflow: hidden;
        margin-right: 20px; }
        .my-profile-share-container form .browse-btn .profile-image-thumb span.upld_img_btn button.btn.btn-secondary.btn-sm {
          color: #fff;
          background-color: #615AA8;
          border-color: #615AA8;
          border-radius: 0px;
          margin-left: 15px;
          width: 100px;
          height: 40px; }
        .my-profile-share-container form .browse-btn .profile-image-thumb span.upld_img_btn input#inputFile1 {
          position: absolute;
          top: 0;
          right: 0;
          min-width: 100%;
          min-height: 100%;
          font-size: 100px;
          text-align: right;
          filter: alpha(opacity=0);
          opacity: 0;
          outline: none;
          background: white;
          cursor: inherit;
          display: block; }
      .my-profile-share-container form .browse-btn .profile-image-thumb span.upld_img img#image_upload_preview1 {
        width: 120px;
        height: 120px; }
    .my-profile-share-container form .profile-button-groups {
      margin-top: 40px; }
      .my-profile-share-container form .profile-button-groups button {
        color: #fff;
        background-color: #615AA8;
        border-color: #615AA8;
        font-family: "lato black";
        font-size: 30px;
        text-transform: uppercase;
        border-radius: 0px;
        width: 30.5%;
        padding: 25px;
        margin-right: 16px;
        letter-spacing: 2px; }

.conference-main-container .remote-local-share-file .local-share-file-wrapper {
  display: flex;
  overflow-y: hidden !important; }
  .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second {
    flex-basis: 50%;
    overflow-y: scroll; }
    .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-odd .video-type, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-odd .video-type {
      background: #c9c2e5;
      font-size: 14px;
      font-weight: bold;
      color: #000000;
      padding: 10px;
      font-family: "Lato Regular";
      padding-left: 13px;
      padding-bottom: 5px;
      padding-top: 5px;
      box-shadow: inset 0px 22px 31px -11px rgba(0, 0, 0, 0.24); }
    .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-odd .video-image-wrapper, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-odd .video-image-wrapper {
      width: 100%; }
      .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-odd .video-image-wrapper img, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-odd .video-image-wrapper img {
        width: 100%; }
    .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-odd .video-action-icons-wrapper, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-odd .video-action-icons-wrapper {
      background: #cdc6e9;
      padding: 1px;
      color: #fff;
      justify-content: space-around;
      padding-left: 6px; }
      .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-odd .video-action-icons-wrapper a, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-odd .video-action-icons-wrapper a {
        cursor: pointer;
        display: inline-block;
        width: auto;
        text-align: center; }
        .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-odd .video-action-icons-wrapper a .img1, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-odd .video-action-icons-wrapper a .img2, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-odd .video-action-icons-wrapper a .img3, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-odd .video-action-icons-wrapper a .img4, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-odd .video-action-icons-wrapper a .img5, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-odd .video-action-icons-wrapper a .img6, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-odd .video-action-icons-wrapper a .img7, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-odd .video-action-icons-wrapper a .img1, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-odd .video-action-icons-wrapper a .img2, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-odd .video-action-icons-wrapper a .img3, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-odd .video-action-icons-wrapper a .img4, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-odd .video-action-icons-wrapper a .img5, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-odd .video-action-icons-wrapper a .img6, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-odd .video-action-icons-wrapper a .img7 {
          max-width: 100%;
          background-size: 100%;
          background-image: url("../images/sprite.png"); }
        .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-odd .video-action-icons-wrapper a .img1, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-odd .video-action-icons-wrapper a .img1 {
          background-position: 0 0%;
          background-size: 100%; }
        .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-odd .video-action-icons-wrapper a .img2, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-odd .video-action-icons-wrapper a .img2 {
          background-position: 0 16.666667%;
          background-size: 100%; }
        .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-odd .video-action-icons-wrapper a .img3, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-odd .video-action-icons-wrapper a .img3 {
          background-position: 0 33.333333%;
          background-size: 100%; }
        .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-odd .video-action-icons-wrapper a .img4, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-odd .video-action-icons-wrapper a .img4 {
          background-position: 0 50%;
          background-size: 100%; }
        .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-odd .video-action-icons-wrapper a .img5, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-odd .video-action-icons-wrapper a .img5 {
          background-position: 0 66.666667%;
          background-size: 100%; }
        .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-odd .video-action-icons-wrapper a .img6, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-odd .video-action-icons-wrapper a .img6 {
          background-position: 0 83.333333%;
          background-size: 100%; }
        .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-odd .video-action-icons-wrapper a .img7, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-odd .video-action-icons-wrapper a .img7 {
          background-position: 0 100%;
          background-size: 100%; }
    .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-even .video-type, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-even .video-type {
      font-size: 14px;
      font-weight: bold;
      color: #000000;
      background: #a596f8;
      padding: 10px;
      font-family: "Lato Regular";
      padding-left: 13px;
      padding-bottom: 5px;
      padding-top: 5px;
      box-shadow: inset 0px 22px 31px -11px rgba(0, 0, 0, 0.24); }
    .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-even .video-image-wrapper, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-even .video-image-wrapper {
      width: 100%; }
      .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-even .video-image-wrapper img, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-even .video-image-wrapper img {
        width: 100%; }
    .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-even .video-action-icons-wrapper, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-even .video-action-icons-wrapper {
      background: #aa9bff;
      padding: 1px;
      color: #fff;
      justify-content: space-around;
      padding-left: 6px; }
      .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-even .video-action-icons-wrapper a, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-even .video-action-icons-wrapper a {
        cursor: pointer;
        display: inline-block;
        width: auto;
        text-align: center; }
        .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-even .video-action-icons-wrapper a .img1, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-even .video-action-icons-wrapper a .img2, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-even .video-action-icons-wrapper a .img3, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-even .video-action-icons-wrapper a .img4, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-even .video-action-icons-wrapper a .img5, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-even .video-action-icons-wrapper a .img6, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-even .video-action-icons-wrapper a .img7, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-even .video-action-icons-wrapper a .img1, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-even .video-action-icons-wrapper a .img2, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-even .video-action-icons-wrapper a .img3, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-even .video-action-icons-wrapper a .img4, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-even .video-action-icons-wrapper a .img5, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-even .video-action-icons-wrapper a .img6, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-even .video-action-icons-wrapper a .img7 {
          max-width: 100%;
          background-size: 100%;
          background-image: url("../images/sprite.png"); }
        .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-even .video-action-icons-wrapper a .img1, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-even .video-action-icons-wrapper a .img1 {
          background-position: 0 0%;
          background-size: 100%; }
        .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-even .video-action-icons-wrapper a .img2, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-even .video-action-icons-wrapper a .img2 {
          background-position: 0 16.666667%;
          background-size: 100%; }
        .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-even .video-action-icons-wrapper a .img3, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-even .video-action-icons-wrapper a .img3 {
          background-position: 0 33.333333%;
          background-size: 100%; }
        .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-even .video-action-icons-wrapper a .img4, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-even .video-action-icons-wrapper a .img4 {
          background-position: 0 50%;
          background-size: 100%; }
        .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-even .video-action-icons-wrapper a .img5, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-even .video-action-icons-wrapper a .img5 {
          background-position: 0 66.666667%;
          background-size: 100%; }
        .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-even .video-action-icons-wrapper a .img6, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-even .video-action-icons-wrapper a .img6 {
          background-position: 0 83.333333%;
          background-size: 100%; }
        .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-even .video-action-icons-wrapper a .img7, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-even .video-action-icons-wrapper a .img7 {
          background-position: 0 100%;
          background-size: 100%; }
  .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-type {
    padding-left: 4px !important; }

.conference-timer-wrapper .webrtc-timer-shared .timer-bg-white.backround-change-color .panel.panel-default {
  overflow-y: hidden; }
.conference-timer-wrapper .webrtc-timer-shared .timer-bg-white.backround-change-color .panel.panel-default.active {
  overflow-y: scroll; }

@media screen and (min-width: 1025px) {
  .webrtc-main-wrapper {
    display: flex; }
    .webrtc-main-wrapper .timer-wrapper {
      flex-basis: 23%; }
    .webrtc-main-wrapper .remote-local-share-file {
      flex-basis: 77%;
      display: flex; }
      .webrtc-main-wrapper .remote-local-share-file .local-share-file-wrapper {
        flex-basis: 50%;
        overflow-y: scroll; }
      .webrtc-main-wrapper .remote-local-share-file .remote-share-file-wrapper {
        flex-basis: 50%;
        overflow-y: scroll; }
      .webrtc-main-wrapper .remote-local-share-file .conference-page-show-and-hide-desktop.active {
        display: none; }
    .webrtc-main-wrapper .remote-local-share-file.active {
      display: none; }
    .webrtc-main-wrapper .draw-main-section {
      flex-basis: 77%;
      display: none;
      padding-top: 18px; }
      .webrtc-main-wrapper .draw-main-section .draw-left-wraper {
        display: flex;
        flex-basis: 70%; }
        .webrtc-main-wrapper .draw-main-section .draw-left-wraper .left-image-draw {
          width: 100%; }
          .webrtc-main-wrapper .draw-main-section .draw-left-wraper .left-image-draw a {
            display: block; }
      .webrtc-main-wrapper .draw-main-section .draw-right-wrapper {
        justify-content: flex-end;
        margin-right: 15px;
        display: flex;
        flex-basis: 30%; }
    .webrtc-main-wrapper .draw-main-section.active {
      display: flex; }
    .webrtc-main-wrapper .draw-main-section-conference-page.active {
      flex-basis: 50%; }

  .select2-dropdown {
    border-bottom: none; }

  div#reconnect-modal, div#end-session-modal, div#delete-contacts-modal {
    max-width: 545px;
    margin: 0 auto; }

  .my-profile-share-container form input {
    width: 87%; }

  .conference-main-container .conference-remote-wrapper-first .video-action-icons-wrapper, .conference-main-container .conference-remote-wrapper-second .video-action-icons-wrapper {
    text-align: center; }
    .conference-main-container .conference-remote-wrapper-first .video-action-icons-wrapper a, .conference-main-container .conference-remote-wrapper-second .video-action-icons-wrapper a {
      width: 28px !important; }

  .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-image-wrapper {
    max-height: 383px;
    overflow: hidden; }

  .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box {
    padding-right: 32px; }
  .main-wrapper-contacts-page span.tooltipstext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 10px;
    position: absolute;
    z-index: 1;
    top: 35px;
    left: 0;
    font-size: 12px; }
  .main-wrapper-contacts-page span.tooltipstext2 {
    width: 100px; }
  .main-wrapper-contacts-page .tooltips:hover .tooltipstext {
    visibility: visible; }
  .main-wrapper-contacts-page .tooltips {
    position: relative; } }
@media screen and (max-width: 767px) {
  .webrtc-shared-file .local-share-image-box, .webrtc-remote-shared-file .local-share-image-box {
    height: auto;
    overflow-y: auto; }

  .select2-dropdown {
    border-bottom: none; }

  .draw-main-section {
    display: none; }

  .my-profile-share-container {
    padding-left: 15px;
    padding-right: 15px; }
    .my-profile-share-container form .profile-button-groups button {
      width: 100%;
      margin-top: 7px; }
    .my-profile-share-container form .browse-btn .profile-image-thumb span {
      display: block;
      margin-top: 20px;
      text-align: center; }
    .my-profile-share-container form .browse-btn .profile-image-thumb span.upld_img {
      margin-top: 30px; }

  .conference-main-container .remote-local-share-file {
    display: inline-block;
    width: 100%; }
    .conference-main-container .remote-local-share-file .local-share-file-wrapper {
      display: block; }
      .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-odd .video-action-icons-wrapper a, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-first .video-inner-wrapper-even .video-action-icons-wrapper a, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-odd .video-action-icons-wrapper a, .conference-main-container .remote-local-share-file .local-share-file-wrapper .conference-remote-wrapper-second .video-inner-wrapper-even .video-action-icons-wrapper a {
        width: 13%; }

  .webrtc-timer-shared .video-remote-section-webrtc .video-inner-wrapper .video-action-icons-wrapper a {
    width: 40px; }

  .main-wrapper-contacts-page {
    padding: 0; }
    .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box {
      flex-wrap: wrap; }
      .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons {
        display: none; }
      .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons:first-child {
        display: block;
        text-align: center;
        width: 100% !important; }
    .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper {
      max-height: 100%;
      overflow-y: hidden; }
      .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-time.inactive-schedule, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-time.inactive-schedule {
        font-size: 15px; }
      .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-time.active-schedule, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-time.active-schedule {
        font-size: 16px; }
      .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .middle-layer-box {
        display: none; }
      .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even {
        flex-wrap: wrap;
        padding: 14px; }
        .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-thumb, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-thumb {
          width: 80% !important;
          padding-left: 0;
          margin: 0 auto;
          margin-bottom: 15px;
          padding-right: 50px; }
        .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd div, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even div {
          width: 80%;
          margin: 0 auto;
          display: inline-block; }
          .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd div .contacts-appended-text, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even div .contacts-appended-text {
            float: left;
            width: 50%; }
          .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd div .contacts-appended-text.different, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even div .contacts-appended-text.different {
            font-family: "Lato Regular";
            font-size: 18px;
            color: #615aa8;
            font-weight: normal; }
        .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-edits-deletes, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-edits-deletes {
          padding-left: 0px;
          position: relative; }
          .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-edits-deletes a, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-edits-deletes a {
            width: 25%; }
      .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-delete-layer.active a.delete-text {
        position: absolute;
        top: 5px; }
    .main-wrapper-contacts-page .contacts-wrapper-box .botttom-page-count .bottom-page-number {
      text-align: center;
      width: 100%;
      padding: 0;
      margin-top: 30px; }
    .main-wrapper-contacts-page .contacts-wrapper-box .call-status-boxes {
      padding: 30px 0px 5px 40px;
      display: inline-block;
      width: 100%;
      margin: 0; }
      .main-wrapper-contacts-page .contacts-wrapper-box .call-status-boxes span {
        margin: 0;
        float: left;
        width: 50%; }

  .edit-profile-container {
    padding: 15px; }
    .edit-profile-container form button {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      margin-top: 10px; }

  .delete-contacts-container {
    padding-left: 25px;
    padding-right: 25px; }

  .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd div, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even div {
    width: 80% !important; }
    .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd div .contacts-appended-text, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even div .contacts-appended-text {
      width: 50% !important; } }
@media (max-width: 1024px) and (min-width: 768px) {
  .webrtc-main-wrapper {
    display: flex; }
    .webrtc-main-wrapper .timer-wrapper {
      flex-basis: 36%; }
    .webrtc-main-wrapper .remote-local-share-file {
      flex-basis: 64%;
      display: flex; }
      .webrtc-main-wrapper .remote-local-share-file .local-share-file-wrapper {
        flex-basis: 50%; }
      .webrtc-main-wrapper .remote-local-share-file .remote-share-file-wrapper {
        flex-basis: 50%; }
      .webrtc-main-wrapper .remote-local-share-file .conference-page-show-and-hide-desktop.active {
        display: none; }
    .webrtc-main-wrapper .draw-main-section {
      flex-basis: 64%;
      display: none; }
    .webrtc-main-wrapper .draw-main-section.active {
      display: flex; }

  .select2-dropdown {
    border-bottom: none; }

  .remote-local-share-file.active {
    display: none; }

  .my-profile-share-container form input {
    width: 87%; }

  .conference-main-container .video-action-icons-wrapper a {
    /*width:11% !important;*/ }

  .conference-main-container .remote-local-share-file .conference-local-share-file-wrapper {
    flex-basis: 65%; }
  .conference-main-container .remote-local-share-file .remote-share-file-wrapper {
    flex-basis: 35%; }

  .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons {
    font-size: 18px; }
    .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a {
      width: 17%; }
  .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-time.active-schedule, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-time.inactive-schedule, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-time.active-schedule, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-time.inactive-schedule {
    font-size: 16px; }
  .main-wrapper-contacts-page div#wrap input#search-2 {
    padding-right: 24px; }
  .main-wrapper-contacts-page div#wrap input[type="text"]:focus {
    width: 178px; }

  .main-wrapper-enterprise-contact-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons {
    font-size: 16px !important; }
    .main-wrapper-enterprise-contact-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a {
      width: 18%; }
  .main-wrapper-enterprise-contact-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons:first-child {
    width: 30% !important; }
  .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .middle-layer-box {
    font-size: 16px !important; }
    .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .middle-layer-box .middle-layer-headings-first {
      width: 30% !important; }
  .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even {
    font-size: 16px !important; }
    .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-thumb, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-thumb {
      width: 30% !important; }
    .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-time.active-schedule, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-time.inactive-schedule, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-time.active-schedule, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-time.inactive-schedule {
      font-size: 14px !important; }
    .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-edits-deletes, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-edits-deletes {
      padding-left: 0px; }
      .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-edits-deletes a, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-edits-deletes a {
        margin-left: 18px; }
  .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-delete-layer.active a.delete-text {
    margin-left: 12px; }
  .main-wrapper-enterprise-contact-page div#wrap input#search-2 {
    padding-right: 24px; }
  .main-wrapper-enterprise-contact-page div#wrap input[type="text"]:focus {
    width: 178px; } }
@media (max-width: 768px) and (min-width: 767px) {
  .webrtc-main-wrapper {
    display: block; }
    .webrtc-main-wrapper .timer-wrapper {
      display: block;
      width: 100%; }
    .webrtc-main-wrapper .remote-local-share-file {
      width: 100%;
      display: block; }
      .webrtc-main-wrapper .remote-local-share-file .local-share-file-wrapper {
        width: 100%;
        display: block; }
      .webrtc-main-wrapper .remote-local-share-file .remote-share-file-wrapper {
        width: 100%;
        display: block; }
    .webrtc-main-wrapper .draw-main-section {
      display: none; }

  .select2-dropdown {
    border-bottom: none; }

  .webrtc-copyright .Webrtc-r-side {
    padding-right: 0px;
    text-align: right; }

  .my-profile-share-container form input {
    width: 97%; }
  .my-profile-share-container form .profile-button-groups button {
    width: 27%;
    padding: 16px;
    margin-right: 10px;
    font-size: 20px; }

  .conference-main-container .video-action-icons-wrapper a {
    width: 13% !important; }

  .main-wrapper-contacts-page {
    padding: 0; }
    .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons {
      font-size: 16px !important; }
      .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons a {
        width: 18%; }
    .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons:first-child {
      padding-left: 0; }
    .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper {
      max-height: 100%;
      overflow-y: hidden; }
      .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even {
        font-size: 16px; }
        .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-time.inactive-schedule, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-time.active-schedule, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-time.inactive-schedule, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-time.active-schedule {
          font-size: 14px; }
        .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-edits-deletes, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-edits-deletes {
          text-align: center; }
      .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-delete-layer.active a.delete-text {
        display: block;
        width: 100%; }
      .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .middle-layer-box {
        font-size: 16px; }
    .main-wrapper-contacts-page div#wrap input#search-2 {
      padding-right: 24px; }
    .main-wrapper-contacts-page div#wrap input[type="text"]:focus {
      width: 138px; }

  .edit-profile-container form button {
    width: 40%; }

  .main-wrapper-enterprise-contact-page div#wrap input[type="text"]:focus {
    width: 152px; }
  .main-wrapper-enterprise-contact-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons {
    font-size: 14px !important; }
  .main-wrapper-enterprise-contact-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons:first-child {
    padding-left: 0px; }
  .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .middle-layer-box, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even {
    font-size: 14px !important; }
    .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .middle-layer-box .contact-layer-time.active-schedule, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .middle-layer-box .contact-layer-time.inactive-schedule, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-time.active-schedule, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-time.inactive-schedule, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-time.active-schedule, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-time.inactive-schedule {
      font-size: 10px !important; }
    .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .middle-layer-box .contact-layer-edits-deletes a, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-edits-deletes a, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-edits-deletes a {
      margin-left: 0px; }
    .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .middle-layer-box .contact-layer-thumb, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-thumb, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-thumb {
      padding-left: 0; }
    .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .middle-layer-box .middle-layer-headings-first, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .middle-layer-headings-first, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .middle-layer-headings-first {
      padding-left: 0; }
  .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-delete-layer.active a.delete-text {
    display: block;
    text-align: center;
    width: 100%;
    margin-left: 0; }

  .main-wrapper-contacts-page .contacts-wrapper-box .upper-layer-box .upper-layer-icons:first-child {
    width: 30% !important; }
  .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .middle-layer-box .middle-layer-headings-first {
    width: 30% !important; }
  .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd .contact-layer-thumb, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even .contact-layer-thumb {
    width: 30% !important; } }
.deleteicon, .erasericon, .markericon, .pencilicon, .saveicon,
.colorpickericon {
  max-width: 100%;
  background-size: 100%;
  background-image: url("../images/webrtcdraw.png"); }

.deleteicon {
  background-position: 0 0%;
  background-size: 100%; }

.erasericon {
  background-position: 0 21.201413%;
  background-size: 100%; }

.markericon {
  background-position: 0 42.402827%;
  background-size: 100%; }

.pencilicon {
  background-position: 0 63.60424%;
  background-size: 100%; }

.saveicon {
  background-position: 0 84.805654%;
  background-size: 100%; }

.colorpickericon {
  background-position: 0 100%;
  background-size: 134.146341%; }

sup {
  font-size: 24px;
  top: 0; }

.my-profile-required-field-msg {
  margin-top: 25px;
  font-size: 16px;
  font-family: "Lato Regular";
  color: #929397; }

@media (max-width: 374px) and (min-width: 300px) {
  .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even {
    /*.contact-layer-edits-deletes{
    	max-width: 65%;
    }*/ }
    .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd div, .main-wrapper-contacts-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even div {
      width: 94%; }
  .main-wrapper-contacts-page .contacts-wrapper-box .call-status-boxes {
    padding: 30px 0px 5px 15px; }

  .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-odd div, .main-wrapper-enterprise-contact-page .contacts-wrapper-box .contacts-scroll-wrapper .contacts-layer-box-even div {
    width: 94% !important; } }
@media screen and (min-width: 1600px) {
  .webrtc-main-wrapper .remote-local-share-file {
    flex-basis: 77%; }
  .webrtc-main-wrapper .timer-wrapper {
    flex-basis: 23%; }
  .webrtc-main-wrapper .draw-main-section {
    flex-basis: 77%; } }
.webrtc-main-wrapper .local-share-file-wrapper {
  background: #bcafff; }

/*# sourceMappingURL=webrtc.css.map */
